.AikajaksoEdit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;

  &__separator {
    margin: 0;
  }

  .DateEdit__field {
    width: 140px;
    flex-shrink: 0;
    margin-bottom: 0;
  }

  .Select {
    min-width: 400px;
    margin-bottom: 0;
  }

  &__select {
    width: 200px;

    .Select {
      min-width: 0;
    }
  }
}
