.AikajaksoEdit {
  display: flex;
  justify-content: flex-start;

  &__separator {
    margin: 0 @h-padding;
  }

  .DateEdit__field {
    max-width: 200px;
  }

  // Hack to make testId divs / Selects fill flex container...
  > div {
    width: 100%;
  }
}
