.OpiskeluoikeudenToimipiste-Edit-View {
  height: 35px;
  padding: 0 0.7em;
  background: #ffffff;
  border: 1px solid #c1c1c1;
  box-shadow: inset 0 1px 4px 0 #dadada;
  border-radius: 2px;
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}
.OpiskeluoikeudenToimipiste__Dialog__Inner {
  height: 40vh;
  width: 100%;
  overflow-y: scroll;
  padding: 8px;
  margin-top: 8px;
  border: 1px solid #e8e8e8;
}
