.OpiskeluoikeusTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: @color-dark-blue;
  color: white;

  min-height: 5 * @baseline;
  margin: 0;
  padding: @baseline @h-padding;

  font-size: 1.286rem;
  font-weight: 400;

  .OpiskeluoikeusTitle__oid {
    text-align: right;
    font-size: 80%;
  }
}
