.OsasuoritusProperty {
  .OsasuoritusPropertyLabel {
    display: flex;
    align-items: center;
    min-height: 1.5 * @baseline;
  }
  .OsasuoritusPropertyValue {
    display: block;
    align-content: center;
    min-height: 1.5 * @baseline;
  }

  // Sisäkkäiset Column-elementit perivät Columns.less:n 2.5 * @baseline
  // korkeuden, joka tekee rivistä tarpeettoman korkean. Tiivistä omiin rajoihin.
  .Column {
    min-height: 1.5 * @baseline;
  }
}
