// Otsikkorivi erotetaan osasuorituksista ohuella viivalla vanhan
// käyttöliittymän tapaan (ei vaaleansinistä palkkia).
.OsasuoritusHeader {
  font-weight: 600;
  margin-bottom: (@baseline / 2);
  border-bottom: 1px solid @color-disabled;

  .Column {
    min-height: 2 * @baseline;
    display: flex;
    align-items: center;

    &:first-child {
      padding-left: @h-padding;
    }
  }
}

.OsasuoritusProperty {
  padding: (@baseline / 2) 0;
}

.OsasuoritusRow .OsasuoritusRow__expandColumn {
  min-width: 2 * @baseline;
}

.OsasuoritusRow + .OsasuoritusRow {
  margin-top: (@baseline / 2);
}

.OsasuoritusRow--edit {
  .OsasuoritusRow__dataColumn,
  .OsasuoritusRow__removeColumn {
    align-self: flex-end;
  }

  .OsasuoritusRow__nameColumn > .OsasuoritusRow__cellContent {
    display: flex;
    flex-direction: column;
    gap: 0;

    > * {
      width: 100%;
    }
  }
}

.OsasuoritusRow__cellContent {
  width: 100%;
}

.OsasuoritusPropertyLabel {
  opacity: 0.5;
}
