.OsasuoritusHeader {
  background-color: @color-light-blue;
  font-weight: 600;
  margin-bottom: @baseline;

  .Column {
    min-height: 4 * @baseline;
    display: flex;
    align-items: center;

    &:first-child {
      padding-left: @h-padding;
    }
  }
  .OsasuoritusHeader__indent {
    background: white;
  }
}

// Kansalaisen näkymän taustaväri
.omattiedot .OsasuoritusHeader .OsasuoritusHeader__indent {
  background: @color-lightgray !important;
}

// Suoritusjaon näkymän taustaväri
.suoritusjako .OsasuoritusHeader .OsasuoritusHeader__indent {
  background: @color-lightgray !important;
}

.OsasuoritusProperty {
  padding: (@baseline / 2) 0;
}

.OsasuoritusRow .OsasuoritusRow__expandColumn {
  min-width: 2 * @baseline;
}

.OsasuoritusRow + .OsasuoritusRow {
  margin-top: (@baseline / 2);
}

.OsasuoritusRow--edit {
  .OsasuoritusRow__dataColumn,
  .OsasuoritusRow__removeColumn {
    align-self: flex-end;
  }

  .OsasuoritusRow__nameColumn > .OsasuoritusRow__cellContent {
    display: flex;
    flex-direction: column;
    gap: 0;

    > * {
      width: 100%;
    }
  }
}

.OsasuoritusRow__cellContent {
  width: 100%;
}

.OsasuoritusPropertyLabel {
  opacity: 0.5;
}
