@import "../../style/colors.less";
@import "../../style/accessability.less";

.counter {
  background-color: @color-blue;
  color: @color-white;

  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  margin: 0 0.5rem;
  font-size: 80%;
  vertical-align: text-top;
}

.counter__paren {
  .screen-readers-only();
}
