@import "../../style/colors.less";
@import "../../style/accessability.less";

.counter {
  background-color: @color-blue-lighten-1;
  color: @color-white;

  padding: 0.2rem 0.7rem;
  border-radius: 99999px;
  margin: 0 0.5rem;
}

.counter__paren {
  .screen-readers-only();
}
