@import "../../style/colors.less";
@import "../../style/accessability.less";

.counter {
  background-color: @color-blue-lighten-1;
  color: @color-white;

  padding: 0.1rem 0.6rem;
  border-radius: 99999px;
  margin: 0 0.5rem;
  font-size: 80%;
  vertical-align: text-top;
}

.counter__paren {
  .screen-readers-only();
}
