@import "../../style/colors.less";
@import "../../style/spacing.less";

.error {
  color: @color-red;
  border: 1px solid @color-red;
  background: lighten(@color-red, 33%);
  border-radius: 3px;

  padding: @padding;
  margin: @padding-h 0;
}
