@import "../../style/typography.less";

.heading {
  margin: 0.5rem 0;
  font-weight: @font-weight-regular;
}

.heading--primary {
  font-size: @font-size-x-large;
}

.heading--secondary {
  font-size: @font-size-large;
}

.heading--tertiary {
  font-size: @font-size-medium;
  font-weight: @font-weight-bold;
}
