@import "../../style/typography.less";

.heading {
  margin: 0 0 1rem 0;
  font-weight: @font-weight-bold;
}

.heading--primary {
  font-size: @font-size-x-large;
  font-weight: @font-weight-x-bold;
}

.heading--secondary {
  font-size: @font-size-large;
}

.heading--tertiary {
  font-size: @font-size-medium;
}
