@import "../../style/typography.less";

.heading {
  margin: 0.5rem 0;
  font-weight: 500;
}

.heading--primary {
  font-size: @font-size-x-large;
}

.heading--secondary {
  font-size: @font-size-large;
}
