@import "../../style/colors.less";

.nodatamessage {
  font-style: italic;
  color: @color-gray;

  table & {
    display: inline;
  }
}

.nodatamessage__notimplemented {
  font-style: italic;
  color: @color-gray-lighten-3;
}

table .nodatamessage,
table .nodatamessage__notimplemented {
  display: inline;
}
