@import "../../style/colors.less";

.nodatamessage {
  font-style: italic;
  color: @color-gray;
}

table .nodatamessage {
  display: inline;
}

.nodatamessage__notimplemented {
  font-style: italic;
  color: @color-gray-lighten-3;
}
