@import "../../style/colors.less";
@import "../../style/typography.less";
@import "../../style/zindex.less";

.Triangle(@size, @color, @direction) {
  display: block;
  width: 0;
  height: 0;
  border: @size solid transparent;
  border-@{direction}: @size solid @color;
  pointer-events: none;
}

#localraamit {
  position: relative;
  font-size: 14px;
  height: 55px;
  padding-top: 5px;
  color: white;
  box-sizing: border-box;
  z-index: @z-index-raamit;
}

#resetMockData {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.localraamit {
  background: @color-blue-lighten-1;
  color: white;

  #logo {
    display: inline-block;
    background: white;
    border-radius: 1px;
    width: 151px;
    text-align: center;
    font-size: 15px;
    font-weight: @font-weight-bold;
    color: black;
    margin-left: 21px;
    line-height: 24px;

    &:after {
      content: "";
      .Triangle(12px, #ffffff, left);
      margin-left: 155px;
      margin-top: -24px;
    }
  }

  h1 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;
    color: white;
    line-height: 30px;
    margin-left: 67px;
    font-weight: normal;
    max-width: 415px;
    vertical-align: middle;
    margin-bottom: 9px;
    margin-top: 9px;
    margin-left: 30px;

    a {
      color: white;
      font-size: 1em;
    }
  }

  .localraamit__testapibutton,
  .localraamit__logoutbutton {
    font-size: 0.8em;
    color: @color-blue;
    background: @color-white;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: none;

    margin-left: 1rem;
    padding: 0.2rem 0.5rem;

    &:hover {
      background: @color-blue-lighten-4;
    }
  }

  .localraamit__logoutbutton {
    margin-right: 20px;
  }

  .localraamit__testapistate {
    font-weight: bold;
    text-transform: uppercase;
  }

  .localraamit__input {
    background: @color-blue-darken-1;
    color: @color-white;
    padding: 0.2rem 0.5rem;
    font-size: 0.8em;
    border: 1px solid @color-blue-darken-1;
    border-radius: 0 6px 6px 0;
  }

  .localraamit__userinfo {
    float: right;
    line-height: 47px;

    .localraamit__username {
      font-size: 0.8em;
      margin-right: 20px;
    }

    .localraamit__languagebutton {
      background: @color-blue-darken-1;
      border-radius: 15px;
      padding: 5px;
      width: 30px;
      height: 30px;
      margin-right: 2px;
      color: white;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      border: none;
      font-size: 0.8em;
    }

    .localraamit__languagebutton.localraamit__currentlanguage {
      font-weight: @font-weight-bold;
      background: @color-blue-lighten-1;
    }

    .localraamit__languagebutton:hover {
      background: @color-blue-lighten-2;
    }
  }

  .localraamit__fixture {
    margin-left: 1rem;
    padding: 0.2rem 0.5rem;
    font-size: 0.8em;
    color: @color-white;
    border: 2px solid @color-white;
    border-radius: 6px;

    .localraamit__fixturevalue {
      font-weight: 600;
    }

    &.localraamit__fixture--warning {
      border-color: @color-red;
      background-color: @color-red;
    }
  }
}

.localraamit--kansalainen {
  @oppija-color: #3a7a10;
  @oppija-color-lighten: lighten(@oppija-color, 10);

  background: @oppija-color;

  .localraamit__testapibutton {
    background: @oppija-color;
  }

  .localraamit__testapistate {
    color: #fff;
  }

  .localraamit__userinfo {
    .localraamit__languagebutton,
    .localraamit__logoutbutton {
      background: @oppija-color;
    }
    .localraamit__languagebutton.localraamit__currentlanguage,
    .localraamit__languagebutton:hover,
    .localraamit__logoutbutton:hover {
      background: @oppija-color-lighten;
    }
  }
}
