@import "../../style/colors.less";
@import "../../style/spacing.less";
@import "../../style/typography.less";

@mainnavigation-item-v-padding: 1rem;
@mainnavigation-item-h-padding: 2rem;

.mainnavigation {
  padding: 0 @page-padding;
  border-bottom: 1px solid @color-gray-lighten-3;

  display: flex;

  .mainnavigation__item {
    display: block;
    padding: @mainnavigation-item-v-padding @mainnavigation-item-h-padding;

    color: @color-gray-lighten-2;
    border-bottom: 2px solid transparent;

    &:hover {
      color: @color-blue-lighten-1;
    }

    &.mainnavigation__item--selected {
      color: @color-blue;
      border-color: @color-blue;
    }
  }

  .mainnavigation__title {
    font-weight: @font-weight-bold;
    padding: @mainnavigation-item-v-padding @mainnavigation-item-v-padding;
    padding-left: 0;
  }
}
