.ovkeskeytys {
  width: 50rem;
}

.ovkeskeytys__option {
  margin-bottom: 1rem;

  .ovkeskeytys__optionform {
    padding-left: 2rem;

    .react-date-picker {
      margin-left: 0.25rem;
    }
  }
}

.ovkeskeytys__confirmcb {
  margin-top: 1rem;
}

.ovkeskeytys__submit {
  margin: 2rem 0;
}
