*~
target/
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea
.classpath
.project
.settings
.cache
postgres
postgresql/data
node_modules
bundle.js
web/dist
src/main/resources/*.conf
src/test/scala/fi/oph/koski/ServiceTester.scala
src/test/resources/opiskeluoikeudet.txt
/ignore
PersonOids.scala
*.log*
curltestdata.json
scripts/cloudrc
scripts/site.retry
.vscode
elastic-data