*~
target/
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea
.classpath
.project
.settings
.cache
.java-version
postgres
postgresql/data
node_modules
bundle.js
web/dist
web/node/
src/main/resources/*.conf
src/test/scala/fi/oph/koski/ServiceTester.scala
src/test/resources/opiskeluoikeudet.txt
/ignore
PersonOids.scala
*.log*
curltestdata.json
scripts/cloudrc
scripts/site.retry
.vscode
elastic-data
/elasticsearch/data
/elasticsearch/log
!/src/main/resources/reference.conf
fact_cache
scripts/deploy.retry
valpas-web/dist
valpas-web/node/
valpas-web/.parcel-cache/
