@import "../../../style/typography.less";
@import "../../../style/colors.less";
@import "../../../style/spacing.less";

.omattiedot__lead {
  max-width: 50rem;
  margin-bottom: 2rem;
}

.omattiedot__secondaryheading {
  font-size: @font-size-m-large;
  font-weight: @font-weight-regular;
}

.omattiedot__oppijavalitsin {
  margin-bottom: 2.5rem;
}

.omattiedot__header {
  border-bottom: 2px solid @color-blue;

  padding: 0 0.25rem 0.5rem;
  margin-bottom: 2rem;
}
