.hakutilanneview__organisaatiovalitsin {
  margin-bottom: 2rem;
  padding-left: 0.5rem;
}

.hakutilanneview__ilmoittaminen {
  padding: 1rem;
}

.hakutilanneview__ilmoittaminentitle {
  margin-bottom: 1rem;
}

.hakutilanneview__ilmoittamisenalarivi {
  display: flex;
  align-items: center;
}

.hakutilanneview__valittujaoppilaita {
  padding-right: 2rem;
}
