.hakutilannedrawer__ilmoittaminen {
  padding: 1rem;

  .spinner {
    transform: scale(0.5);
    height: 1px;
  }

  .error {
    margin: 0 0 0 2rem;
    padding: 0;
    border: none;
    background: none;
  }
}

.hakutilannedrawer__ilmoittaminentitle {
  margin-bottom: 1rem;
}

.hakutilannedrawer__ilmoittamisenalarivi {
  display: flex;
  align-items: center;
}

.hakutilannedrawer__valittujaoppilaita {
  padding-right: 2rem;
}
