@baseline: 12px;
@h-padding: 24px;
@v-padding: 2 * @baseline;
@padding: @v-padding @h-padding;

// Debuggaustyylit nopeaan test-id:ttömien komponenttien löytämiseen
/*
*[data-testid] {
  border: 2px solid green !important;
  border-style: dotted !important;
}

*[data-testid^='osasuoritukset'] {
  border-style: dashed !important;
}

*[data-testid^='suoritukset'] {
  border-style: solid !important;
}
*/

@import 'containers/ButtonGroup';
@import 'containers/Columns';
@import 'containers/ContentContainer';
@import 'containers/FooterBar';
@import 'containers/Flex';
@import 'containers/EditorContainer';
@import 'containers/KeyValueTable';
@import 'containers/Label';
@import 'containers/Modal';
@import 'containers/PlainList';
@import 'containers/PositionalPopup';
@import 'containers/Dialog';

@import 'controls/Checkbox';
@import 'controls/DateField';
@import 'controls/ExpandButton';
@import 'controls/FlatButton';
@import 'controls/IconButton';
@import 'controls/LinkButton';
@import 'controls/NumberField';
@import 'controls/RadioButtons';
@import 'controls/RaisedButton';
@import 'controls/Removable';
@import 'controls/Select';
@import 'controls/Tabs';
@import 'controls/TextField';

@import 'forms/FieldErrors';

@import 'messages/GlobalErrors';
@import 'messages/Snackbar';

@import 'opiskeluoikeus/ArvioitsijatField';
@import 'opiskeluoikeus/LaajuusField';
@import 'opiskeluoikeus/OpiskeluoikeudenSuostumuksenPeruminen';
@import 'opiskeluoikeus/OpiskeluoikeudenTila';
@import 'opiskeluoikeus/OpiskeluoikeusTitle';
@import 'opiskeluoikeus/OrganisaatioHenkilotField';
@import 'opiskeluoikeus/OsasuoritusTable';
@import 'opiskeluoikeus/OsasuoritusProperty';
@import 'opiskeluoikeus/SuorituksenVahvistus';
@import 'opiskeluoikeus/TunnustusField';
@import 'opiskeluoikeus/OpiskeluoikeudenToimipiste';

@import 'texts/Icon';
@import 'texts/Spinner';

@import 'yotutkinto/YoTodistus.less';

@import '../uusiopiskeluoikeus/UusiOpiskeluoikeusForm.less';
