@import "../../style/typography.less";

.landing__content {
  max-width: 65rem;
  margin: 0 auto;
}

.landing__lead {
  margin-bottom: 1rem;
}

.landing__login {
  margin-top: 2rem;
}

.landing__button {
  .button__content {
    padding: 0.75rem 1.5rem;
  }
}
