@import "./reset.less";
@import "./typography.less";
@import "./colors.less";
@import "./spacing.less";

html,
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: @color-black;
}

a {
  color: @color-blue;
}

p {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

* {
  box-sizing: border-box;
}
