@import "./reset.less";
@import "./typography.less";
@import "./colors.less";
@import "./spacing.less";

body {
  line-height: 1.5;
}

#app {
  font-family: @font-family;
  color: @color-black;
  font-size: @font-size-medium;
}

a {
  color: @color-blue;

  &:hover {
    color: @color-blue-lighten-1;
  }
}

p {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

* {
  box-sizing: border-box;
}

#error-view h1 {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}

#error-view .error-message {
  max-width: 600px;
  padding: 0 2rem;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
}
