@import "./reset.less";
@import "./typography.less";
@import "./colors.less";
@import "./spacing.less";

html,
body {
  font-family: @font-family;
  line-height: 1.5;
  color: @color-black;

  * {
    font-size: @font-size-medium;
  }
}

a {
  color: @color-blue;

  &:hover {
    color: @color-blue-lighten-1;
  }
}

p {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

* {
  box-sizing: border-box;
}
