// Default paddings for containers etc.

// stylelint-disable-next-line plugin/no-unsupported-browser-features -- väärä hälytys: LESS-muuttuja, ei @page-sääntö
@page-padding: 2rem 2rem 8rem 2rem;

@padding-h: 1.2rem;
@padding-v: 1rem;
@padding: @padding-v @padding-h;
