@import "./utils.less";

@font-family: "Roboto", sans-serif;

@font-size-medium: .pxToRem(14) [];
@font-size-small: .pxToRem(12) [];
@font-size-large: .pxToRem(16) [];
@font-size-m-large: .pxToRem(20) [];
@font-size-x-large: .pxToRem(24) [];

@font-weight-light: 100;
@font-weight-regular: 400;
@font-weight-bold: 500;
@font-weight-x-bold: 700;
