@import "./utils.less";

@font-face {
  font-family: "Roboto";
  src:
    url('../fonts/Roboto/Roboto-Black.ttf') format('truetype'),
    url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
    url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
  /* Add more formats as needed */
  font-weight: normal;
  font-style: normal;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Material-Icons/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


@font-family: "Roboto", sans-serif;

@font-size-medium: .pxToRem(14) [];
@font-size-small: .pxToRem(12) [];
@font-size-large: .pxToRem(16) [];
@font-size-m-large: .pxToRem(20) [];
@font-size-x-large: .pxToRem(24) [];

@font-weight-light: 100;
@font-weight-regular: 400;
@font-weight-bold: 500;
@font-weight-x-bold: 700;
