@import "../../style/colors.less";
@import "../../style/typography.less";
@import "../../style/spacing.less";

@card-padding: (.pxToRem(22) []) (.pxToRem(24) []);

.card {
  margin: 1.5rem 0;
}

.card__borders {
  border: 1px solid @color-gray-lighten-3;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.1);
}

.card__header {
  font-size: @font-size-large;
  font-weight: @font-weight-bold;
  border-bottom: 1px solid @color-gray-lighten-3;
  padding: @card-padding;
}

.card__body {
  position: relative;
  padding: @card-padding;
}

.columns__column .card,
.columns__column .card__borders {
  height: 100%;
}

.card--borderless {
  .card__header {
    font-size: @font-size-large;
    font-weight: @font-weight-x-bold;
    line-height: .pxToRem(40) [];
    border-bottom: 2px solid @color-blue;
    text-transform: uppercase;
    padding: 0;
  }

  .card__body {
    padding: .pxToRem(25) [] 0;
  }
}
