@import "../../style/colors.less";
@import "../../style/typography.less";
@import "../../style/spacing.less";

.card {
  border: 1px solid @color-gray-lighten-3;
  margin: 1.5rem 0;
}

.card__header {
  font-size: @font-size-large;
  font-weight: 500;
  padding: @padding;
  border-bottom: 1px solid @color-gray-lighten-3;
}

.card__body {
  position: relative;
  padding: @padding;
}
