@import "../../style/spacing.less";
@import "../../style/responsive.less";

.columns__container {
  @media screen and (min-width: @breakpoint-desktop) {
    display: flex;
  }
  margin: 0 - (@padding-h / 2);
}

.columns__column {
  padding: @padding-v (@padding-h / 2);

  & > .card {
    margin: 0;
  }
}

.loop(@counter) when (@counter > 0) {
  .loop(@counter - 1);

  .columns__column--@{counter} {
    flex: @counter;
  }
}

.loop(12);
