@import "../../style/colors.less";

.icon--inline {
  font-size: inherit;
}

.icon--warning {
  color: @color-yellow;
}

.icon--error {
  color: @color-red;
}

.icon--gray {
  color: @color-gray-lighten-2;
}
