@import "../../style/colors.less";

.icon {
  user-select: none;
}

.icon--inline {
  display: inline-block;
  font-size: inherit;
  vertical-align: middle;
}

.icon--warning {
  color: @color-yellow;
}

.icon--error {
  color: @color-red;
}

.icon--gray {
  color: @color-gray-lighten-3;
}

.icon--blue {
  color: @color-blue;
}

.icon--success {
  color: @color-blue;
}

.icon--white {
  color: @color-white;
}

.icon--green {
  color: @color-green-lighten-1;
}
