@import "../../style/colors.less";

.icon {
  user-select: none;
}

.icon--inline {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 0.3rem;
}

.icon--warning {
  color: @color-yellow;
}

.icon--error {
  color: @color-red;
}

.icon--gray {
  color: @color-gray-lighten-3;
}

.icon--blue {
  color: @color-blue;
}
