.vst-lisatiedot {
  display: grid;
  grid-template-rows: repeat(1fr);
  row-gap: 8px;
  background-color: #eefcff;
  padding: 16px;
}
.vst-lisatiedot__koulutuksen-maksuttomuus {
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 8px;
}
.vst-lisatiedot__koulutuksen-maksuttomuus__inner-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 8px;
}
.vst-lisatiedot__koulutuksen-maksuttomuus__maksuttomuus-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 8px;
}
.vst-lisatiedot__koulutuksen-maksuttomuus__maksuttomuus-row-checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.vst-lisatiedot__oikeutta-maksuttomuuteen-pidennetty {
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 8px;
}

.vst-lisatiedot__oikeutta-maksuttomuuteen-pidennetty__inner-container {
  display: flex;
  flex-direction: column;
  justify-items: left;
  row-gap: 8px;
  padding: 8px;
}
.vst-lisatiedot__oikeutta-maksuttomuuteen-pidennetty__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 16px;
}
.vst-lisatiedot__oikeutta-maksuttomuuteen-pidennetty__range-spacer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.vst-lisatiedot__jotpaasianumero {
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 8px;
}
