.checkbox__label {
  display: flex;
  align-items: flex-start;

  max-width: 40rem;
  margin-bottom: 1rem;

  input.checkbox {
    margin-right: 0.5rem;
  }
}

.checkbox__label--inline {
  display: inline-block;
}

.checkbox--disabled {
  opacity: 0.5;
}

.checkbox__labeltext {
  display: inline;
}

.checkbox__labeltext--disabled {
  opacity: 0.5;
}
