body {
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(51, 51, 51);
    font-size: 16px;
}
header {
}
.logo {
    background: url("/tor/images/oph_fin_vaaka.png") 0 0 no-repeat;
    height: 70px;
    margin: 10px 0 10px 50px;
}
.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    line-height: 1.3em;
    padding: 20px;
    background-color: #fafafa;
}
section:after {
    content: '';
    border: 1px solid #d9d9d9;
    display: block;
    width: 100%;
    border-top-width: 0;
    margin-bottom: 30px;
}
small {
    font-size: 10px;
}
.json {
    font-family: monospace;
    font-size: 12px;
    line-height: 18px;
}
.metadata {
    font-family: arial;
}
.object,.array {
    color: rgb(51, 51, 51);
}
.json .key, .api-tester .CodeMirror .cm-string.cm-property, .api-tester .hljs-attr {
    color: rgb(165, 116, 28);
}
.json .value, .api-tester .CodeMirror .cm-string, .api-tester .hljs-string {
    color: green;
}
.json tr:hover {
    background: #ffffbb;
}
table.json {
    border-collapse: collapse;
    width: 100%;
    display: none;
}
.metadata > span:after {
    display: inline;
    content: ". ";
}
a, a:visited {
    text-decoration: none;
    color: #4194bf;
}

span.indent:after {
    display: inline-block;
    content: "\a0\a0";
}

.collapsed {
    display: none;
}

.collapsed-parent .collapsible:before {
    content: '+';
    cursor: pointer;
}

.collapsible:before {
    display: inline;
    content: '-';
    cursor: pointer;
    margin-right: 5px;
}

.api-tester input {
    width: 300px;
    height: 30px;
    font-size: 14px;
    padding-left: 10px;
}
.api-tester {
    margin: 0 20px;
}

.status-codes h4 {
    cursor: pointer;
}

.status-codes table {
    display: none;
    margin: 0 20px;
}

.status-codes.expanded table {
    display: block;
}

.api-tester .buttons, .api-tester .result {
    margin-top: 10px;
}

.api-tester pre {
    max-height: 400px;
    overflow-y: auto;
    background: #dddddd;
    font-size: 12px;
}

.api-tester .result {
    min-width: 500px;
}

.api-tester .examples {
    margin-bottom: 10px;
}

.api-tester .CodeMirror {
    border: 1px solid black;
    font-size: 12px;
}

table, th, td {
    border: 1px solid #cccccc;
    border-collapse: collapse;
    text-align: left;
}

th, td {
}

td {
    padding: 2px 10px;
}

th {
    background-color: #f5f5f5;
    padding: 9px 10px;
}

.api-operation {
    border: 1px solid #d9d9d9;
    margin-bottom: 20px;
    border-radius: 5px;
}

.api-operation.expanded {
    padding-bottom: 40px;
}

.api-operation h3 {
    margin-top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 30px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #d9d9d9;
    font-weight: 500;
    color: #4194bf;
    cursor: pointer;
}

.api-operation:not(.expanded) .api-details > * {
    display: none;
}

.api-operation .api-details > * {
}

.api-operation > p, .api-operation > div {
    margin-left: 10px;
}

.api-operation .curl .line {
    display: none;
}

.api-operation .curl.open .line {
    display: inline-block;
}

.api-operation .curl.open .title {
    display: none;
}

.api-operation .curl {

}

.api-method {
    display: inline-block;
    height: 30px;
    margin-right: 10px;
    color: white;
    background: #4194bf;
    line-height: 30px;
    border-top-left-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.api-operation.expanded .toggle-details {
    background-position: 0 -18px;
}

a {
    cursor: pointer;
}

.hidden {
    display: none;
}

.button.blue {
    background: #4194bf;
    color: #fff;
}

.button {
    height: 35px;
    font-size: 1pc;
    border: none;
    padding: 0 20px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.button:disabled {
    background-color: #E6E6E6;
}

.example-list {
    line-height: 1.5em;
    padding-bottom: 20px;
    list-style: none;
    padding: 0;
}

.example-as-json {
    float: right;
    font-size: smaller;
}

.example-item.expanded table.json {
    display: inherit;
    margin: 20px 0;
}

table.json td:first-child {
    width: 40%;
}