body {
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(51, 51, 51);
    font-size: 15px;
}
small {
    font-size: 10px;
}
.json {
    font-family: monospace;
    font-size: 12px;
    line-height: 18px;
}
.metadata {
    font-family: arial;
}
.object,.array {
    color: rgb(51, 51, 51);
}
.json .key {
    color: rgb(165, 116, 28);
}
.json .value {
    color: green;
}
.json tr:hover {
    background: #ffffbb;
}
table.json {
    border-collapse: collapse;
    width: 100%;
}
.metadata > span:after {
    display: inline;
    content: ". ";
}
a, a:visited {
    text-decoration: none;
    color: teal;
}

span.indent:after {
    display: inline-block;
    content: "\a0\a0";
}

.collapsed {
    display: none;
}

.collapsed-parent .collapsible:before {
    content: '+';
}

.collapsible:before {
    display: inline;
    content: '-';
    margin-right: 5px;
}
.api-tester {
    margin-left: 20px;
}
.api-tester div {
    margin-top: 10px;
}
.api-tester .result {
    min-width: 500px;
    background: #dddddd;
}

.api-tester .examples {
    margin-bottom: 10px;
}

.api-tester .parameters table, .api-tester .parameters th, .api-tester .parameters td {
    border: 1px solid #cccccc;
    border-collapse: collapse;
}

.api-tester .parameters td {
    padding: 10px;
}

.api-tester .parameters th {
    background-color: #ccffcc;
}