@media print {
    @page { margin: 0; }
    body  { margin: 1.6cm; }
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(51, 51, 51);
    font-size: 15px;
}

table {
    border-collapse: separate;
    border-spacing: 30px 5px;
}