@media print {
    @page { margin: 1.6cm; }
    body  { margin: 0; }
    table, .entity { page-break-inside: avoid; }
    a, a:visited { color: black; text-decoration: none; }
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(51, 51, 51);
    font-size: 15px;
}

table, th, td {
    border: 1px solid #cccccc;
    border-collapse: collapse;
    text-align: left;
}

.entity > .description {
    display: block;
    margin-bottom: 20px;
}

th, td {
    position: relative;
    vertical-align: top;
}

td {
    padding: 2px 10px;
}

th {
    background-color: #f5f5f5;
    padding: 9px 10px;
}

td.nimi, th.nimi {
    width: 15%;
}

td.lukumäärä, th.lukumäärä {
    width: 5%;
}

td.tyyppi, th.tyyppi {
    width: 30%;
}

td.kuvaus .description {
    margin-right: 0.2em;
}

.alternatives.localizedstring a {
    margin-right: 10px;
}

.alternatives:not(.localizedstring) a {
    display: block;
}