h2.oppilaitos {
    text-transform: uppercase;
}

div {
    margin-bottom: 20px;
}

.oppija {
    text-transform: capitalize;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: left;
}

.oppija .hetu {
    float: right;
    text-align: left;
    display: inline-block;
    width: 235px;
}

.kurssimaara td {
    padding-top: 50px;
}

.kurssimaara-title {
    font-size: 12px;
}