@media print
{
    @page { margin: 0; }
    body  { margin: 1.6cm; }
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(51, 51, 51);
    font-size: 15px;
}

.todistus {
    margin: 40px auto;
    width: 800px;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

div {
    margin-bottom: 20px;
}

td, th {
    text-align: left;
}

th {
    font-size: 13px;
    padding-bottom: 10px;
}

td.laajuus, th.laajuus {
    width: 150px;
}

.rakennemoduuli td, .opintojen-laajuus td {
    font-weight: bold;
}

.tutkinnon-osa td:first-child {
    padding-left: 50px;
}

td, th {
    padding-right: 20px;
}

.vahvistus {
    margin-top: 80px;
}

.vahvistus .allekirjoitus {
    float: right;
}
.vahvistus .allekirjoitus .viiva {
    border-bottom: 1px solid black;
    width: 200px;
    height: 2em;
}