h2.oppilaitos {
    text-transform: uppercase;
}

.oppija {
    text-transform: capitalize;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: left;
}

.oppija .hetu {
    float: right;
    text-align: left;
    display: inline-block;
    width: 155px;
}

.arvosanat th {
    vertical-align: bottom;
}

.arvosana-korotus {
    text-align: center;
    width: 60px;
}