div {
    margin-bottom: 20px;
}

td, th {
    vertical-align: top;
}

.tutkinnon-osa td:first-child {
    padding-left: 50px;
}

td.oppiaine, th.oppiaine {
    width: 41%;
}

td.laajuus, th.laajuus {
    width: 5%;
}

td.arvosana, th.arvosana {
    width: 48%;
}
