div {
    margin-bottom: 20px;
}

.rakennemoduuli td, .opintojen-laajuus td {
    font-weight: bold;
}

.tutkinnon-osa td:first-child {
    padding-left: 50px;
}

.tyossa-oppiminen h4 {
    margin-bottom: 10px;
}

.tyossa-oppiminen p {
    margin-left: 50px;
    margin-top: 0;
}

tr td.arvosana-numeroin {
    padding-right: 5px;
}

.lisatieto {
    font-size: 0.8em;
    margin-bottom: 0;
}

.lisatieto:not(:first-child) {
    margin-top: 5px;
}

.lisatieto-viitteet {
    vertical-align: middle;
    font-size: 0.8em;
}