body {
  font-family: 'Source Sans Pro', sans-serif;
}

.odottamaton-virhe {
  max-width: 600px;
  margin: auto;
  padding-top: 40px;
}

a {
  color: #159ecb;
  text-decoration: none;
  cursor: pointer;
}
