body {
  font-family: 'Source Sans Pro', sans-serif;
}

.odottamaton-virhe {
  max-width: 600px;
  padding-top: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 200px;
}

a {
  color: #149ecb;
  text-decoration: none;
  cursor: pointer;
}
