// Oppiaineiden osioiden otsikot (esim. "Yhteiset oppiaineet") hieman
// suuremmiksi ja tiiviimmin kiinni taulukkoon vanhan käyttöliittymän tapaan.
.oppiaineet h5 {
  font-size: 1.143rem;
  margin-bottom: (@baseline / 2);
}

.PerusopetuksenOppiaineet__laajuus {
  white-space: nowrap;
}

.PerusopetuksenOppiaineet__laajuusYksikko--vuosiviikkotuntia {
  font-size: 0.8em;
}
