.IBPäätasonSuoritusEditor__footer {
  display: flex;
  justify-content: space-between;
  padding: (@v-padding / 2) (@h-padding / 2);

  &_uusiOppiaine {
  }

  &_yhteensä {
    line-height: 2 * @baseline;
    text-align: right;
  }
}
