.IBPäätasonSuoritusEditor__footer {
  display: flex;
  justify-content: space-between;
  padding: (@v-padding / 2) (@h-padding / 2);

  &_yhteensä {
    line-height: 2 * @baseline;
    text-align: right;
  }
}

.UusiOppiaine__aine {
  border-left: 2px solid @color-blue;
  padding: @padding;
}
