@import "../../style/typography.less";

.oppijaview__backbutton {
  margin-bottom: 2rem;

  .button__content {
    padding: 0;
  }
}

.oppijaview__secondaryheading {
  font-size: @font-size-large;
  font-weight: @font-weight-regular;
  margin: -0.5rem 0 2rem 0;
}

.oppijaview__eiilmoituksia {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  .icon {
    margin-right: 0.5rem;
  }
}
