@import "../../style/typography.less";
@import "../../style/colors.less";
@import "../../components/tables/LeanTable.less";

.oppijanhaut__hakunimi {
  .externallink {
    margin-left: 1.5rem;
    font-weight: @font-weight-regular;
  }
}

.oppijanhaut__table {
  margin-bottom: 3rem;
}

.oppijanhaut__footnotes {
  margin-top: -2rem;
  margin-bottom: 3rem;
  padding-left: @leantable-cell-v-padding;
  color: @color-gray;
  font-size: @font-size-small;
}

.oppijanhaut__footnotereference {
  vertical-align: super;
  font-size: 80%;
  margin: 0 0.1rem;
  color: @color-gray;
}

.oppijanhaut__otettuvastaan {
  margin-left: 0.8rem;
}
