@import "../../style/typography.less";

.oppijanhaut__hakunimi {
  .externallink {
    margin-left: 1.5rem;
    font-weight: @font-weight-regular;
  }
}

.oppijanhaut__table {
  margin-bottom: 3rem;
}
