@import "../../style/colors.less";
@import "../../style/typography.less";

@ilmoitusform-frame-color: @color-blue;
@ilmoitusform-padding: 1.5rem;
@ilmoitusform-header-indent: 2.5rem;

.ilmoitusform__frame {
  border: 2px solid @ilmoitusform-frame-color;
  margin-bottom: 1rem;

  .ilmoitusform__header {
    background: @ilmoitusform-frame-color;
    color: @color-white;

    padding: 1rem @ilmoitusform-padding 0.8rem;

    .ilmoitusform__title {
      display: flex;
      // justify-content: space-between;
      align-items: flex-start;

      font-size: @font-size-large;
      font-weight: @font-weight-regular;
      margin-bottom: 0.5rem;
    }

    .ilmoitusform__titleindex {
      width: @ilmoitusform-header-indent;
    }

    .ilmoitusform__titletexts {
      flex-grow: 1;
    }

    .ilmoitusform__subtitle {
      font-size: @font-size-medium;
      font-weight: @font-weight-regular;
      margin-top: 0.2rem;
    }

    .ilmoitusform__submitted {
      display: flex;
      align-items: center;
      margin-bottom: 0.2rem;

      .icon {
        padding-left: 0.4rem;
        width: @ilmoitusform-header-indent;
        font-size: 130%;
      }
    }
  }

  .ilmoitusform__turvakielto {
    display: flex;
    margin-bottom: 2rem;

    .ilmoitusform__turvakieltotext {
      padding-left: 1rem;
      max-width: 25rem;
    }
  }

  .ilmoitusform__body {
    padding: @ilmoitusform-padding;
    padding-bottom: 2rem;

    .ilmoitusform__prefill {
      display: flex;
      align-items: flex-start;
      margin-bottom: 2rem;

      .ilmoitusform__prefilllist {
        margin-left: 1rem;

        .ilmoitusform__prefillitem {
          color: @color-blue;
          cursor: pointer;

          &:hover {
            color: @color-blue-lighten-1;
          }
        }
      }
    }

    .ilmoitusform__muutyhteystiedototsikko {
      margin-top: 2rem;
    }

    .dropdown,
    .textfield {
      max-width: 75%;
    }

    .checkbox__label {
      max-width: 25rem;
    }
  }
}
