// Tutkinnon nimi, koodi ja perusteen diaarinumero samalla välillä kuin
// vanhan käyttöliittymän KoulutusmoduuliEditorissa
.AmmatillinenTutkinto {
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 1em;
}
