@import '../controls/inputs.less';

.default-input-error-styles(DateEdit__input);

.DateEdit__field {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5 * @baseline;

  .DateEdit__input {
    flex-grow: 1;
    margin: 0;
    min-width: 0;
  }

  .IconButton {
    margin-left: 6px;
  }
}
