@import '../controls/inputs.less';

.default-input-error-styles(DateEdit__input);

.DateEdit {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5 * @baseline;

  .DateEdit__input {
    flex-grow: 1;
  }

  .IconButton {
    margin-left: 6px;
  }
}
