.ExpandButton {
  color: @color-link-blue;
  background: none;
  border: none;

  &.haschildren {
    display: contents;
  }

  &.disabled {
    visibility: hidden;
    width: 0;
    margin: 0;
  }
  &:hover {
    cursor: pointer;
    color: @color-link-hover-blue;
    transition: background-color 15ms;
  }
}
