@import './inputs.less';

.default-input-error-styles(NumberField__input);

.NumberField {
  margin-bottom: 0.5 * @baseline;

  .NumberField__input {
    width: 100%;
    padding: 0 6px;
    line-height: 2.5 * @baseline;
    background: white;
    border: 1px solid #aeaeae;
    border-radius: 2px;

    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  }
}
