.RadioButtons {
  list-style-type: none;
  margin: 0 0 0 @h-padding;
  padding: 0;

  .RadioButtons__option {
    display: flex;
    align-items: center;
    min-height: 2 * @baseline;

    input[type='radio'] {
      display: inline;
      margin-right: 12px;
      pointer-events: none;
    }
  }

  .RadioButtons__option--disabled {
    label {
      color: @color-disabled-text;
    }
  }
}
