frozen-lockfile=false

# Avoid too-fresh packages (stability)
minimum-release-age=4320
minimum-release-age-exclude[]=basic-ftp

# Disable postinstall scripts except for explicitly allowed
ignore-scripts=true
allowed-scripts=esbuild
