@import "../style/typography.less";
@import "../style/colors.less";

.password__container {
  display: inline-block;

  background: @color-blue-lighten-4;
  padding: 1rem;
  margin-bottom: 1rem;

  .password__label {
    margin-right: 0.5rem;
    font-weight: @font-weight-regular;
  }

  .password__value {
    font-weight: @font-weight-bold;
  }

  .password__copy {
    margin-left: 1em;
    color: @color-blue;
    cursor: pointer;

    &:hover {
      color: @color-blue-lighten-1;
    }
  }

  .password__ok {
    margin-left: 0.5em;
  }
}
