@ColumnGrid-columns: 24;
@ColumnGrid-gutter: 24px;

@ColumnGrid-phone-breakpoint: 640px;
@ColumnGrid-small-breakpoint: 960px;
@ColumnGrid-large-breakpoint: 1280px;

.ColumnGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 (-@ColumnGrid-gutter / 2);

  // Gutter between columns
  .Column {
    padding: 0 (@ColumnGrid-gutter / 2);
    min-height: 2 * @baseline;
  }
}

// Spans
.generate-columns(span, @ColumnGrid-columns);

@media screen and (max-width: @ColumnGrid-phone-breakpoint) {
  .generate-columns(phone, @ColumnGrid-columns);
}

@media screen and (max-width: @ColumnGrid-small-breakpoint) {
  .generate-columns(small, @ColumnGrid-columns);
}

@media screen and (max-width: @ColumnGrid-large-breakpoint) {
  .generate-columns(large, @ColumnGrid-columns);
}

.generate-columns(@name, @index) when (@index > 0) {
  .generate-columns(@name, @index - 1);
  .Column-@{name}-@{index} {
    width: 100% * @index / @ColumnGrid-columns;
  }
}

// Alignments

.Column-valign-top {
  align-self: flex-start;
}

.Column-valign-center {
  align-self: center;
}

.Column-valign-bottom {
  align-self: flex-end;
}
