.EditorContainer {
  padding: @padding;

  // Suoritukset-otsikko ei ole lihavoitu vanhan käyttöliittymän tapaan
  > h2 {
    font-weight: 400;
  }

  .EditorContainer__addIcon {
    margin-right: 6px;
  }

  .EditorContainer__lisatiedot .KeyValueRow__name {
    text-align: right;
  }

  a.expandable {
    display: inline-block;
    cursor: pointer;
    color: @color-link-blue;
    &.open {
      margin-bottom: 8px;
    }
    &:after {
      font-family: FontAwesome;
      content: '\f078';
      margin-left: 6px;
      font-size: 11px;
    }
    &.open:after {
      content: '\f077';
    }
  }
}
