.Snackbar {
  position: fixed;
  left: @h-padding;
  bottom: @v-padding;

  line-height: 2 * @baseline;

  background: @color-topbar-dark-blue;
  color: white;
  padding: @baseline @h-padding;
  border-radius: 999999px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;

  &:hover {
    background: @color-topbar-separator;
  }
}
