.OsaamismerkkiTitle {
  background: #fafafa;
  color: #333;
  user-select: text;

  border-bottom: 1px solid #ccc;

  min-height: 5 * @baseline;
  margin: 0;
  padding: @baseline @h-padding;

  font-size: 1.286rem;
  font-weight: 400;

  .OsaamismerkkiTitle__kuva {
    img {
      max-height: 80px;
    }
  }

  .OsaamismerkkiTitle__oid {
    font-size: 80%;

    .VersiohistoriaButton {
      position: relative;
    }

    .VersiohistoriaList {
      padding: @baseline;
      margin: 0;
      width: 100%;
      text-align: left;
      list-style-type: none;
      color: @color-black;

      .VersiohistoriaList__item {
        width: 100%;
        padding: @baseline;
        white-space: nowrap;
        display: flex;
        justify-items: center;
        min-height: 2 * @baseline;

        &.VersiohistoriaList__item--current {
          background: @color-blue;
          .LinkButton {
            color: white;
          }
        }
      }
    }
  }

  &.OsaamismerkkiTitle__kansalainen {
    background: white;
    color: black;
    padding: 12px 7rem 12px 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    text-align: left;

    position: relative;

    .OsaamismerkkiTitle__expand {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 16px;

      background: @color-link-blue;
      color: white;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .svg-icon {
        width: 1.6rem;
      }
    }
  }
}
