@import "../../style/colors.less";
@import "../../style/typography.less";

@infotable-cell-bottom-padding: .pxToRem(16) [];
@infotable-cell-bottom-tighter-padding: .pxToRem(4) [];

.infotable {
  width: 100%;
  font-size: @font-size-medium;
}

.infotable__label,
.infotable__value {
  padding: 0 0 @infotable-cell-bottom-padding 0;
}

.infotable__label {
  text-align: left;
  padding-right: 1rem;
  font-weight: @font-weight-bold;
  width: 30%;
}

.infotable__value {
  width: 70%;
}

.infotable__null {
  color: @color-gray-lighten-3;
}

.infotable--tighter {
  .infotable__label,
  .infotable__value {
    padding-bottom: @infotable-cell-bottom-tighter-padding;
  }
}
