@import "../../style/colors.less";
@import "../../style/typography.less";

@leantable-cell-v-padding: .pxToRem(16) [];
@leantable-cell-h-padding: .pxToRem(12) [];
@leantable-cell-padding: @leantable-cell-h-padding @leantable-cell-v-padding;

.leantable {
  width: 100%;
}

.leantable__headerrow {
  border-top: 1px solid @color-black;
  border-bottom: 1px solid @color-gray-lighten-3;
}

.leantable__datarow {
  &:nth-child(odd) {
    background-color: @color-gray-lighten-5;
  }
}

.leantable__th {
  text-align: left;
  padding: @leantable-cell-padding;
  font-weight: @font-weight-bold;
  vertical-align: bottom;
}

.leantable__td {
  padding: @leantable-cell-padding;
}

.leantable__null {
  color: @color-gray-lighten-3;
}

.leantable_th_col(@columns) when (@columns > 0) {
  .leantable_th_col(@columns - 1);
  .leantable__th--col@{columns} {
    width: 100% * (@columns / 16);
  }
}
.leantable_th_col(16);
