@import "../../style/typography.less";
@import "../../style/colors.less";

@table-cell-icon-padding: 2.5rem;
@table-h-padding: 0.75rem;
@table-v-padding: 0.5rem;

.table {
  table-layout: fixed;
  width: 100%;
}

.table__body .table__row:nth-child(odd) {
  background: @color-gray-lighten-4;
}

.table__th,
.table__td {
  position: relative;
  padding: @table-v-padding @table-h-padding;

  .table__icon {
    position: absolute;
    top: @table-v-padding;
    left: 0.5rem;
  }
}

.table__th {
  font-size: @font-size-medium;
  font-weight: 500;
  text-align: left;
  user-select: none;
  white-space: nowrap;
}

.table__label {
  text-overflow: ellipsis;
  overflow: hidden;
}

.table__td {
  font-size: @font-size-medium;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: auto;
}

.table__th--xsmall {
  width: 6rem;
}

.table__th--small {
  width: 10rem;
}

.table__th--large {
  width: 25rem;
}

.table__th--indicator,
.table__td--indicator {
  padding-left: @table-cell-icon-padding;
}

.table__sortindicator {
  display: inline-block;
  margin-left: 0.5ex;
  width: 2ex;
}
