.oppija .opiskeluoikeus {
  .ammatillisentutkinnonosanlisatieto .kuvaus {
    margin-left: 1em;
  }

  .näyttö {
    margin-bottom: 5px;

    ul {
      list-style-type: none;

      li > div:first-child > span {
        margin-left: 4%;

        &:first-child {
          margin-left: 2%;
        }
      }
    }
  }
}