.oppija .opiskeluoikeus {
  .ammatillisentutkinnonosanlisatieto .kuvaus {
    margin-left: 1em;
  }
  .jarjestamismuotojakso {
    display: inline-block;
    margin-bottom: 10px;
    > .jarjestamismuoto {
      display: inline-block;
      vertical-align: top;
      > .properties {
        display: block;
        margin-top: 10px;
      }
    }
    .label {
      padding-left: 8px;
    }
    .dropdown {
      display: inline;
      .input-container {
        display: inline;
        input {
          width: 600px;
        }
      }
    }
  }

  table {
    tbody.tutkinnon-osa td {
      margin-right: 5px;
    }

    tbody.uusi-tutkinnon-osa input {
      width: 40%;
      min-width: 300px;
    }
  }

  tbody.tutkinnon-osa > tr.details > td > .properties > table {
    width: 100%;
  }

  .value .span {
    font-size: 15px;
  }

  .tunnustettu {
    .remove-value {
      position: absolute;
    }
  }

  .näyttö > td > .value:not(.empty) {
    .lightgray-box;
    .edit-value {
      margin-left: 1px;
      margin-bottom: 7px;
      display: inline-block;
    }
    .remove-value {
      float: right;
      margin-right: -7px;
    }
  }

  .näyttö, .tunnustettu {
    margin-bottom: 5px;

    > td.label, > td > div.label {
      vertical-align: top;
      width: 10%;
    }


    > td > div {
      display: inline-block;

      &:first-child {
        a {
          line-height: 23px;
        }
      }
    }


    .näyttö-rivi {
      > span {
        margin-right: 5px;
      }

      .remove-value {
        margin-left: 0;
        display: initial;
      }

      &:first-of-type {
        > span {
          margin-right: 0;
        }
        > span:first-of-type {
          margin-right: 20px;
        }
      }
    }

    .lisää-näyttö-modal .modal-content {
      min-width: 600px;

      table {
        width: 100%;

        tr:not(:last-of-type) {
          border-bottom: 10px solid transparent;
        }

        td {
          table {
            table-layout: fixed;

            td:first-of-type:not(:last-of-type) {
              width: 30%;
              padding-right: 5%;
            }
          }
        }
      }
    }
  }
}