@color-blue: #4194bf;
@color-blue-background: #e7f5f9;
@color-white: #ffffff;
@color-lightgray: #fafafa;
@color-red: #ee4444;
@color-green: #0ecc43;
@color-lightred-background: #ffe9e9;
@color-darkgray-text: #918c8a;
@color-darkgray: #5e5e5e;
@color-input-border: #979797;

// New colors
@color-light-blue: #eaf8fb;
@color-medium-blue: #b8e0ee;
@color-link-blue: #159ecb;
@color-link-hover-blue: #00b5f0;
@color-dark-blue: #0a789c;
@color-topbar-dark-blue: #1e516d;
@color-topbar-separator: #326e8a;
@color-topbar-message-background: #e2ffb8;
@color-topbar-message-text: #4b8a00;
@color-disabled: #cccccc;
@color-neutral-gray: #f5f5f5;
@color-gray-darker: #dfdfdf;
@color-warm-gray: #f6f4f0;
@color-delete: #e44e4e;
@color-label: #888;
@color-label-darker: #666;
@color-info-box-background--ok: #d3e9b4;
@color-info-box-background--neutral: #f4f4f4;

@color-black: #000000;
@color-tundora: #4a4a4a;

// Omat tiedot
@color-disabled-text: #757575;
