.dropdown-wrapper:not(.error) {
  .dropdown.inline:not(:hover) {
    .select:after, .input-container:after {
      border: 1px solid rgba(0, 0, 0, 0);
    }
    .select {
      box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0);
    }
    .input-container {
      input {
        border: 1px solid rgba(0, 0, 0, 0);
        color: @color-link-blue;
        padding-left: 0;
      }
    }
  }
}

.dropdown {
  position: relative;
  outline: none;

  &:focus {
    .select {
      outline: none;
      border: 1px solid @color-link-blue;
      box-shadow: none;
    }
  }

  .select {
    background: white;
    border: 1px solid #AEAEAE;
    box-shadow: inset 0 1px 4px 0 #DADADA;
    border-radius: 2px;
    padding: 0 24px 0 8px;
    line-height: 28px;
    &.no-selection {
      color: #AEAEAE;
    }
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    cursor: default;
    transition: all .1s;
  }

  .select:after, .input-container:after {
    content: '';
    position: absolute;
    right: 10px;
    transform: rotate(135deg);
    border-right: 1px solid #2B2B2B;
    border-top: 1px solid #2B2B2B;
    width: 6px;
    height: 6px;
    top: ~"calc(50% - 4px)";
    pointer-events: none;
  }

  .input-container {
    position: relative;
    input {
      width: 100%;
      transition: all .1s;
    }
  }

  .options {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #E4E4E4;
    position: absolute;
    z-index: @z-index-base + 3;
    min-width: 100%;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.25);
    text-align: left;
    background: white;

    &:not(.open) {
      display: none;
    }

    li {
      line-height: 30px;
      padding: 0 0.7em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &.option {
        cursor: pointer;
        &.selected {
          color: white;
          background: @color-link-blue;
          &.removing {
            background: @color-disabled;
          }
        }

        &.new-item:not(.selected) {
          color: @color-link-blue;
        }
      }

      &.group-header {
        font-weight: bold;
        color: @color-darkgray;
      }
    }
  }

  &.grouped {
    .options .option:not(.zero-value) {
      padding-left: 30px;
    }
    .options .option.zero-value {
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }
}
