.editor {

  ul.properties {
    > li {
      > label {
        display: inline-block;
        min-width: 200px;
      }
    }
    list-style: none;
    padding-left: 20px;
  }

  ul.array {
    list-style: none;
  }

  .oppilaitoksenopiskeluoikeudet > .properties  > .oppilaitos > label {
    display: none;
  }

  .oppilaitoksenopiskeluoikeudet > .properties  > .opiskeluoikeudet > label {
    display: none;
  }
}