.ei-suorituksia {
  max-width: 600px;
  padding: 0 2rem;
  margin-bottom: 100px;

  p {
    margin: 2rem 0;
  }

  li {
    max-width: 400px;
    margin: 1rem 0;
  }
}

body.eisuorituksia-page {
  h1 {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
  }
  .ei-suorituksia {
    margin-right: auto;
    margin-left: auto;
  }
}
