.ErrorMixin {
  border: 1px solid @color-red;
  &:focus {
    border-color: @color-red;
  }
}

.error {
  input {
    .ErrorMixin
  }
}

input {
  outline:none;
  border: 1px #999290 solid;
  padding: 0 0.7em;
  width: 210px;
  height: 40px;
  &:focus {
    border-color: @color-blue;
  }
  &.error {
    .ErrorMixin
  }
}

.error-messages {
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
  color: @color-red;
}

form.stacked {
  label {
    position: relative;
    input {
      display: block;
    }

    input {
      margin-top: 5px;
      margin-bottom: 18px;
    }
  }
}

