
hr {
  color: #D9D9D9;
  border-style: solid;
  border-top-width: 0;
}


a {
  color: @color-blue;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.button {
  width: 210px;
  height: 40px;
  font-size: 16px;
  border: none;
  padding: 0;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin-top: 10px;
  cursor: pointer;

  &.blue {
    background: @color-blue;
    color: @color-white;
  }

  &:disabled {
    background: @color-disabled;
  }
}