
hr {
  color: #D9D9D9;
  border-style: solid;
  border-top-width: 0;
}


a {
  color: @color-blue;
  text-decoration: none;
  cursor: pointer;
}



.button {
  background: #159ECB;
  border-radius: 2px;
  width: 132px;
  height: 40px;
  font-family: OpenSans-Semibold;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  border: none;
  padding: 0;

  &:hover {
    background: #00B5F0;
  }

  &:disabled {
    background: #CCCCCC;
  }

  &.large {
    font-size: 16px;
    width: 220px;
    height: 50px;
  }

  &.confirm-delete {
    background: #E44E4E;
  }
}

th, td {
  text-align: left;
  vertical-align: top;
}