// Scope Koski-global styles (separate from raamit)
.koski-content {
  .koski-button {
    .BaseButton;

    background: @color-link-blue;
    border-radius: 2px;
    padding: 0 20px;
    height: 40px;
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border: none;

    &:hover {
      background: @color-link-hover-blue;
    }

    &:disabled {
      background: @color-disabled;
      cursor: default;
    }

    &.large {
      font-size: 1.142rem;
      width: 220px;
      height: 50px;
    }

    &.confirm-delete {
      background: @color-delete;
    }

    &--success, &--success:hover, &--success:disabled {
      background-color: @color-green;
    }

    &--error, &--error:hover, &--error:disabled {
      background-color: @color-red;
    }
  }
}

hr {
  color: #D9D9D9;
  border-style: solid;
  border-top-width: 0;
}

.link {
  color: @color-link-blue;
  text-decoration: none;
  cursor: pointer;
  &.disabled {
    color: @color-disabled;
    cursor: default;
    pointer-events: none;
  }
}

a {
  .link();
}

.BorderlessButton {
  border: 0;
  background: none;
  text-align: left;
  padding: 0;
}

.BaseButton {
  font-size: 1rem;
  font-weight: 700;

  @media @media-phone {
    font-size: 1.166rem
  }
}

.DisabledTextButton {
  color: @color-disabled;
  cursor: default;
}

.text-button {
  .BaseButton;
  .BorderlessButton;
  .link();

  &--disabled {
    .DisabledTextButton;
  }
}

.text-button-small {
  .BorderlessButton;
  .link();

  &--disabled {
    .DisabledTextButton;
  }
}

.inline-text-button {
  .BorderlessButton;
}

.inline-link-button {
  .BorderlessButton;
  .link();
}

th, td {
  text-align: left;
  vertical-align: top;
}

.back-link:before {
  content: ' ';
  font-family: FontAwesome;
  font-size: 11px;
}

.plus {
  .FontAwesomeSymbol;
  font-size: 1.142rem;
}
