.opiskeluoikeus-content .suoritukset {
  .ibtutkinnonsuoritus {
    .theoryOfKnowledge > .value > div > .arviointi {
      margin-bottom: 0.5rem;
    }
  }
}

.opiskeluoikeus-content.editing .suoritukset {
  .ibtutkinnonsuoritus,
  .diplomavuosiluokansuoritus {
    .extendedEssay > .value:not(.empty) > div > .properties {
      margin-bottom: 1rem;
    }

    table.suoritukset > tbody > tr > td {
      &.arvosana,
      &.predicted-arvosana {
        max-width: 150px;
      }
    }
  }
}
