.kela {

  .kela-oppija-haku {
    margin-top: 32px;
    background: @color-white;
    border: 1px solid #D5D5D5;
    padding: 8px;
    display: inline-block;

    label > h3 {
      display: inline-block;
      margin: 0 8px;
    }

    .invalid {
      border: 2px solid @color-red;
    }
  }

  .virheellinen-hetu {
    margin: 0 16px;
    font-weight: 600;
  }

  .henkilo {
    margin-bottom: 32px;

    .henkilotiedot {
      font-weight: 600;
      font-size: 1.714rem;
      color: #2A2A2A;
      letter-spacing: 0;
      margin-bottom: 0px;
    }

    .oppijanumero {
      font-size: 14px;
      color: @color-darkgray;
    }
  }

  .opiskeluoikeus-tabs {
    > ul {
      padding: 0px;
      display: flex;
      > li {
        display: inline-block;
        margin: 16px 16px 16px 0px;
        padding: 16px;
        border: 1px solid #D5D5D5;
        color: #159ECB;
        font-size: 1.25rem;

        .opiskeluoikeuden-tyyppi {
          font-size: 1.5rem;
          display: table;
        }

        &.selected {
          background-color: @color-dark-blue;
          color: @color-white;
        }
      }
    }
  }

  .opiskeluoikeus {

    font-size: 1em;

    ul {
      list-style-type: none;
    }

    td {
      padding-bottom: 4px;
    }

    &.content {
      background-color: @color-white;
      padding: 2%;
    }

    .expand-button {
      font-family: FontAwesome;
      color: @color-blue;
    }

    .label {
      color: #888;
      padding-right: 18px;
      text-align: left;
    }

    .value {
      text-align: left;
    }

    h3.otsikko {
      white-space: nowrap;
      margin: 0;
      width: 100%;
      padding: 17px 27px 17px 17px;
      background: @color-dark-blue 100%;
      color: @color-white;
      letter-spacing: 0;
      font-weight: normal;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      display: flex;
      justify-content: space-between;

      .oid {
        margin-left: 300px;
      }

      .versiohistoria {
        cursor: pointer;

        > span {
          text-decoration: underline;
        }

        .kela-modal {
          position: relative;


          .kela-modal-content {
            position: absolute;
            z-index: 1;
            left: -80px;
            white-space: initial;
            padding: 16px;
            background: @color-white;
            box-shadow: 0 1px 5px 0 rgba(0,0,0,0.30);
            border-radius: 2px;
            min-width: 260px;

            .kela-content-close {
              .CloseSymbol;
              .BorderlessButton;
              cursor: pointer;
              size: 1rem;
              color: @color-black;
              margin: 8px 8px 8px 90%;
              display: block;
            }

            > ol {
              list-style-type: none;
              margin: 0px;
              padding: 8px 0px;
              text-align: center;

              li {
                margin: 4px;
              }

              .selected {
                background-color: @color-blue;
                > a {
                  color: @color-white;
                }
              }
            }
          }
        }
      }
    }

    .opiskeluoikeuden-voimassaoloaika {
      margin-bottom: 8px;
    }

    .key-value-table {
      ul {
        margin: 0;
        padding: 0;
      }

      li {
        display: inline;
      }
    }

    .opiskeluoikeus.tila {
      li {
        display: block;
      }

      .label {
        min-width: 100px;
      }
    }

    .opiskeluoikeusjakso {
      margin-bottom: 8px;

      label {
        display: inline-block;
      }

      label.date {
        min-width: 75px;
      }

      label.tila {
        margin-left: 20px;
      }

      &.active {
        font-weight: 600;
        position: relative; // For child pseudoelement positioning

        &:before {
          font-family: FontAwesome, serif;
          color: @color-link-blue;
          font-weight: lighter;
          content: "\F061";
          font-size: 12px;
          position: absolute;
          left: -16px;
          top: 4px;
        }
      }
    }

    .suoritus.vahvistus {
      margin: 16px 0 8px 0;
      padding: 16px;
      display: inline-block;
      width: 100%;

      &.valmis {
        background-color: #D3E9B4;
      }
      &.kesken {
        background-color: @color-neutral-gray;
      }
      .status {
        font-weight: 600;
      }
    }

    .suoritus.yhteislaajuus {
      > span {
        margin: 0.2rem;
      }
      .yhteislaajuus {
        font-weight: 600;
      }
    }

    &.suoritukset {
      .tabs {

        > ul {
          padding: 0px;
          border-bottom: 1px solid #AEAEAF;

          .tab {
            display: inline-block;
            padding: 5px 40px;
            &.selected {
              border-left: 1px solid #AEAEAE;
              border-right: 1px solid #AEAEAE;
              border-top: 2px solid @color-link-blue;
              box-shadow: 0 2px @color-white;
            }
          }
        }
      }

      &.osasuoritukset {
        width: 100%;
        table-layout: fixed;

        &.pointer {
          cursor: pointer;
        }

        &.nested {
          width: initial;
        }

        .osasuoritukset-title {
          font-weight: 600;
          width: 60%;
        }

        th {
          padding: 4px 16px;
          text-align: left;
          font-style: italic;
          background-color: @color-neutral-gray;
        }

        td.laajuus {
          padding: 0px 24px;
          text-align: right;
        }

        td.arviointi {
          padding: 0px 24px;
          text-align: right;
        }

        .expanded {
          padding-left: 16px;
        }
      }
    }
  }
}
