.kurssit {
  ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    .kurssi {
      position: relative;
      display: inline-block;
      min-width: 62px;
      vertical-align: top;
      > .tunniste {
        cursor: pointer;
        font-weight: 600;
        &.syventava,
        &.soveltava,
        &.ei-lasketa-kokonaispistemäärään,
        &.paikallinen {
          font-style: italic;
        }
        &.hoverable {
          color: black;
          &.syventava,
          &.soveltava,
          &.ei-lasketa-kokonaispistemäärään {
            color: #979797;
            & + .footnote-hint {
              color: #979797;
            }
          }
        }
      }

      > .arvosana,
      > .predicted-arvosana {
        margin-right: 10px;
        .dropdown {
          width: 62px !important;
        }
      }

      a.remove-value {
        position: absolute;
        margin-left: 2px !important;
      }

      .details {
        position: absolute;
        padding: 25px;
        margin-bottom: 80px;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        z-index: @z-index-base + 2;
        width: 550px;
        tbody tr {
          background-color: white;
          td {
            padding: 0 15px 0 0;
            border-bottom-width: 0;
          }
          td:nth-child(1) {
            color: @color-label;
          }
        }

        &-middle {
          &-bottom {
            .KurssiTooltip(middle, bottom);
          }
          &-top {
            .KurssiTooltip(middle, top);
          }
        }
        &-left {
          &-bottom {
            .KurssiTooltip(left, bottom);
          }
          &-top {
            .KurssiTooltip(left, top);
          }
        }
        &-right {
          &-bottom {
            .KurssiTooltip(right, bottom);
          }
          &-top {
            .KurssiTooltip(right, top);
          }
        }
      }
    }
    .kurssi:not(:last-of-type) {
      padding-right: 16px;
    }
  }

  > .uusi-kurssi {
    display: inline-block;
    vertical-align: bottom;
    > a {
      .AddSymbol;
    }
  }
  > .uusi-alkuvaiheen-kurssi {
    margin-left: 16px;
    display: inline-block;
    vertical-align: bottom;
    > a {
      .AddSymbol;
    }
  }
  .uusi-kurssi-modal {
    .modal-content {
      top: -120px;
      min-width: 400px;
      > .kurssi .dropdown {
        max-width: initial;
        width: 400px;
        margin-right: 0;
      }
      > .properties {
        margin-top: 15px;
      }
    }
  }
}

table.kurssilista-mobile {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 1rem;

  > thead > tr > th {
    padding: 0 8px 8px 8px;
    border-bottom: 1px solid @color-neutral-gray;
  }

  > thead > tr,
  > tbody > tr {
    > .nimi {
      width: 20%;
    }

    > .arvosana,
    > .predicted-arvosana,
    > .lisatiedot {
      width: 40%;
      text-align: center;

      &.keskiarvo {
        font-weight: 600;
      }
    }
  }

  > tbody {
    > tr > td {
      padding: 8px;
    }

    > tr.kurssi {
      &.even {
        // nth-child/nth-of-type do not support matching classes, so this is needed. (properties adds one tr to the DOM causing the colors to switch)
        background: @color-neutral-gray;
      }

      > td.nimi {
        font-weight: 600;
      }
    }
  }
}

.edit .kurssit ul .kurssi {
  .details-middle-top,
  .details-left-top,
  .details-right-top {
    bottom: -10px;
  }
}

.KurssiTooltip(@x-alignment, @y-alignment) when (@y-alignment = bottom) {
  top: 35px;
}

.KurssiTooltip(@x-alignment, @y-alignment) when (@y-alignment = top) {
  bottom: -25px;
}

.KurssiTooltip(@x-alignment, @y-alignment) when (@x-alignment = right) {
  right: 25px;
}

.KurssiTooltip(@x-alignment, @y-alignment) when (@x-alignment = left) {
  left: -10px;
}

.KurssiTooltip(@x-alignment, @y-alignment) when (@x-alignment = middle) {
  left: 13px;
  transform: translate(-50%, 0);
}

.KurssiTooltip(@x-alignment, @y-alignment) {
  &:after {
    .KurssiTriangle(@x-alignment, @y-alignment);
  }
}

.KurssiTriangle(@x-alignment, @y-alignment) when (@y-alignment = bottom) {
  top: -29px;
}

.KurssiTriangle(@x-alignment, @y-alignment) when (@y-alignment = top) {
  bottom: -30px;
}

.KurssiTriangle(@x-alignment, @y-alignment) when (@x-alignment = left) {
  left: 10px;
}

.KurssiTriangle(@x-alignment, @y-alignment) when (@x-alignment = middle) {
  left: ~'calc(50% - 15px)';
}

.KurssiTriangle(@x-alignment, @y-alignment) when (@x-alignment = right) {
  right: 10px;
}

.KurssiTriangle(@x-alignment, @y-alignment) {
  content: '';
  position: absolute;
  .Triangle(15px, white, @y-alignment);
}
