#lander-page {
  background-color: @color-warm-gray;
}

.lander {
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  margin-top: 100px;
  text-align: center;

  h1 {
    font-weight: 300;
    margin-bottom: 2.5rem;
  }

  > p:first-of-type {
    font-size: 1.5rem;
  }

  &__caption {
    margin: 2.5rem 0;
  }
}
