.oppija .opiskeluoikeus .suoritukset {
  .lukionoppimaaransuoritus, .lukionoppiaineenoppimaaransuoritus, .lukioonvalmistavankoulutuksensuoritus {
    .oppiaine {
      > .nimi {
        color: @color-label;
      }
    }

    table.suoritukset {
      width: 100%;

      tbody tr {
        background: @color-neutral-gray;
      }

      thead tr:last-child {
        th {
          padding: 0;
          hr {
            margin: 0 0 20px 0
          }
        }
      }

      th {
        &.arvosana, &.maara {
          width: 100px;
          text-align: right;
        }
        &.oppiaine, &.suorituksentila {
          vertical-align: bottom;
        }
      }

      td, th {
        padding: 12px;
        &.oppiaine {
          padding-left: 6px;
        }
      }

      td {
        border-bottom: 5px solid white;
        &.maara, &.arvosana {
          text-align: right;
        }
        &.suorituksentila {
          padding-top: 14px;
          width: 62px;
          font-family: FontAwesome;
          div {
            width: 0;
          }
        }
      }
    }
  }
}