.oppija .opiskeluoikeus .suoritukset {
  .lukionoppimaaransuoritus, .lukionoppiaineenoppimaaransuoritus, .lukioonvalmistavankoulutuksensuoritus,
  .preibsuoritus, .ibtutkinnonsuoritus {
    .oppiaine {
      .title {
        > .nimi {
          color: @color-label;
        }
        > .properties {
          input {
            text-transform: lowercase;
          }

          .dropdown.inline:not(:hover) .input-container input {
            background: none;
          }
        }
      }
    }

    table.suoritukset {
      width: 100%;

      > tbody > tr:not(.aineryhmä):not(.error) {
        background: @color-neutral-gray;
      }

      > thead > tr:last-child {
        th {
          padding: 0;
          hr {
            margin: 0 0 20px 0
          }
        }
      }

      > tbody, thead {
        > tr {
          > th {
            &.arvosana, &.maara {
              width: 100px;
              text-align: right;
            }
            &.oppiaine, &.suorituksentila {
              vertical-align: bottom;
            }
          }

          > td, > th {
            padding: 12px;
            &.oppiaine {
              padding-left: 6px;
            }
          }

          > td {
            border-bottom: 5px solid white;
            &.maara, &.arvosana {
              text-align: right;
              max-width: 76px;

              > .annettuArvosana > .footnote-hint {
                cursor: pointer;
                color: @color-link-blue;
                line-height: initial;
                top: -0.3em;
              }
            }
            &.suorituksentila {
              padding-top: 14px;
              width: 62px;
              font-family: FontAwesome;
              div {
                width: 0;
              }
            }
            &.remove-row {
              background-color: @color-white;
              width: 10px;
              padding: 0;
            }
          }
          &.error {
            td.error {
              color: @color-red;
            }
          }
        }
      }
    }

    .selitteet {
      margin-top: 10px;
      font-size: 0.9em;
    }
  }
}
