@import "z-indices";
@import "global";
@import "ajax-indicators";
@import "topbar";
@import "leftnavi";
@import "form";
@import "oppija";
@import "oppija-haku";
@import "opiskeluoikeus";
@import "expand";
@import "suoritustaulukko";
@import "perusopetus";
@import "lukio";
@import "oppijataulukko";
@import "login";
@import "colors";
@import "error";
@import "autocomplete";
@import "tutkintorakenne";
@import "tiedonsiirrot";
@import "omattiedot";
@import "dropdown";
@import "daterangeselection";
@import "organisaatiopicker";
@import "validointi";
@import "table";

@sidebar-width: 300px;
@page-border-width: ~"calc((100vw - 1320px) / 2)";
@oppija-haku-width: ~"calc(300px + (100vw - 1320px) / 2)";

body {
  font-family: 'Open Sans', sans-serif;
  background-color: @color-lightgray;
}

* {
  box-sizing: border-box;
}

#content {
  min-width: 1320px;
}

#topbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: @z-index-topbar;
  height: 121px;
  padding-left: @page-border-width;
  padding-right: @page-border-width;
  min-width: 1320px;
}

.login {
  margin-top: 171px;
}

.content-area {
  height: ~"calc(100% - 121px)";
  width: 100%;
  margin-top: 121px;
  padding-left: @page-border-width;
  padding-right: @page-border-width;
}

.main-content {
  padding-top: 35px;
}