@import "z-indices";
@import "global";
@import "ajax-indicators";
@import "topbar";
@import "leftnavi";
@import "form";
@import "oppija";
@import "uusi-oppija";
@import "oppija-haku";
@import "modal";
@import "opiskeluoikeus";
@import "expand";
@import "suoritustaulukko";
@import "perusopetus";
@import "lukio";
@import "ammatillinen";
@import "oppijataulukko";
@import "login";
@import "colors";
@import "error";
@import "autocomplete";
@import "tutkintorakenne";
@import "tiedonsiirrot";
@import "omattiedot";
@import "dropdown";
@import "daterangeselection";
@import "organisaatiopicker";
@import "validointi";
@import "table";
@import "datepicker";
@import "highlight";
@import "localization";

@sidebar-width: 300px;
@topbar-height: 121px;
@page-border-width: ~"calc((100vw - 1320px) / 2)";
@oppija-haku-width: ~"calc(300px + (100vw - 1320px) / 2)";

body {
  font-family: 'Open Sans', sans-serif;
  background-color: @color-lightgray;
}

* {
  box-sizing: border-box;
}

#content {
  min-width: 1320px;
}

#topbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: @z-index-topbar;
  height: @topbar-height;
  padding-left: @page-border-width;
  padding-right: @page-border-width;
  min-width: 1320px;
}

#content[data-inraamit='true'] #topbar {
  background: #1E516D;
  position: relative;
  color: white;
  text-align: center;
  height: 48px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    line-height: 48px;
    color: white;
  }
  .separator {
    margin: 10px 25px 0 25px;
    width: 2px;
    height: 38px;
    background-color: @color-topbar-separator;
    display: inline-block;
  }
}

.login {
  margin-top: 171px;
}

.content-area {
  width: 100%;
  margin-top: @topbar-height;
  padding-left: @page-border-width;
  padding-right: @page-border-width;
}

.main-content {
  padding-top: 35px;
}