@import "z-indices";
@import "constants";
@import "global";
@import "typography";
@import "icons";
@import "ajax-indicators";
@import "topbar";
@import "leftnavi";
@import "form";
@import "oppija";
@import "uusi-oppija";
@import "oppija-haku";
@import "modal";
@import "opiskeluoikeus";
@import "expand";
@import "suoritustaulukko";
@import "kurssi";
@import "perusopetus";
@import "esiopetus";
@import "korkeakoulu";
@import "lukio";
@import "ib";
@import "ammatillinen";
@import "oppijataulukko";
@import "login";
@import "colors";
@import "error";
@import "autocomplete";
@import "tutkintorakenne";
@import "tiedonsiirrot";
@import "omattiedot";
@import "copyable-text";
@import "raportoi-virheesta-form";
@import "suoritusjako-form";
@import "suoritusjako";
@import "popup";
@import "dropdown";
@import "daterangeselection";
@import "organisaatiopicker";
@import "table";
@import "datepicker";
@import "highlight";
@import "localization";
@import "documentation";
@import "lander";
@import "ei-suorituksia";
@import "varoitukset";

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: @color-lightgray;
}

button, input, optgroup, select, textarea,
#content.koski-content[data-inraamit="virkailija"] {
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

header.local.viranomainen + .content-area {
  margin-top: 48px;
}

.content-area {
  width: 100%;
  max-width: @max-content-width;
  margin-top: @topbar-height;
  margin-left: auto;
  margin-right: auto;
}

#content[data-inraamit='virkailija'] .content-area,
#content[data-inraamit='oppija'] .content-area {
  margin-top: 0;
}

.main-content {
  padding-top: 35px;
}

.edit-localizations {
  float: right;
  font-size: 14px;
}
