.Triangle(@size, @color, @direction) {
  display: block;
  width: 0;
  height: 0;
  border: @size solid transparent;
  border-@{direction}: @size solid @color;
}

.CompactList {
  list-style: none;
  li:before {
    content: '• ';
  }
}

.NeutralNotification {
  background: @color-neutral-notification-background;
  border: 1px @color-neutral-notification-border solid;
  border-radius: 2px;
}