.Triangle(@size, @color, @direction) {
  display: block;
  width: 0;
  height: 0;
  border: @size solid transparent;
  border-@{direction}: @size solid @color;
  pointer-events: none;
}

.CompactList {
  list-style: none;
  li:before {
    content: '• ';
  }
}

.NeutralNotification {
  background: @color-neutral-notification-background;
  border: 1px @color-neutral-notification-border solid;
  border-radius: 2px;
}

.FontAwesomeSymbol {
  position: relative;
  font-family: FontAwesome;
  font-size: 12px;
  margin-right: 8px;
  display: inline-block;
  width: 11px;
  text-align: center;
}