.omadata-page {

  font-family: SourceSansPro;

  .header {
    display: flex;
    height: 80px;
    background-color: #149ecb;
    color: #ffffff;
    justify-content: space-around;
    align-items: center;

    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;


    .title {
      font-size: 24px;
      font-weight: bold;
    }

    .username {
      height: 20px;
      font-size: 16px;
      font-weight: bold;
    }

    .logout {
      height: 20px;
      font-size: 12px;
      font-weight: normal;
      text-decoration: underline;
      text-align: right;
    }
  }
  .heading {
  }
  .footer {
    img {
      margin: auto;
    }
  }
}
