.omadata-page {

  font-family: SourceSansPro;

  .header {
    display: flex;
    height: 80px;
    background-color: #149ecb;
    color: #ffffff;
    justify-content: space-around;
    align-items: center;

    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;


    .title {
      font-size: 24px;
      font-weight: bold;
    }

    .username {
      height: 20px;
      font-size: 16px;
      font-weight: bold;
    }

    .logout {
      height: 20px;
      font-size: 12px;
      font-weight: normal;
      text-decoration: underline;
      text-align: right;
    }
  }
  .acceptance-container {
    margin-left: 170px;
    color: #000000;

    .user {
      height: 40px;
      font-size: 16px;
      font-weight: bold;

      .dateofbirth {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.2px;
      }
    }

    .acceptance-box {
      border: 1px #149ecb solid;
      width: 50%;
      height: 300px;
      padding-left: 38px;
      padding-top: 34px;

      .acceptance-title {
        width: 645px;
        height: 50px;
        font-size: 20px;
        font-weight: normal;
        letter-spacing: 0.3px;
        text-align: left;
      }

      .acceptance-member-name {
        width: 301px;
        height: 62px;
        font-size: 24px;
        font-weight: 600;
        text-align: left;
        color: #149ecb;
      }

      .acceptance-share-info {
        width: 147px;
        height: 66px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.38;
        text-align: left;
        color: #4a4a4a;

        ul {
          -webkit-padding-start: 14px;
          -webkit-margin-before: 0;
        }
      }
    }
  }
  .heading {
  }
  .footer {
    img {
      margin: auto;
    }
  }
}
