@side-padding: 16px;
@suoritusjako-left-column-width: 36px;

.header__oppijanvalitsin_mixin(){
    color: white;
    background: @color-link-blue;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    background-image: url('/koski/images/opiskelija_ikoni.svg');
    background-repeat: no-repeat;
    background-position: 6px center;
    padding-left: 30px;
    stroke: black;
}

.header__oppijanvalitsin {
  .dropdown {
    width: 300px;

    .select {
      .header__oppijanvalitsin_mixin();
      outline: none;
      border: 1px solid @color-link-blue;
      box-shadow: none;
      display: inline-block;
      padding-right: 30px;
    }
    .input-container::after{
      border-color: @color-white;
      border-width: 2px;
    }
    .options {
       background: @color-white;
       color: @color-black;
       padding: 0px;
    }
    .options li.option {
      .header__oppijanvalitsin_mixin();
      background-color: @color-white;
      color: black;
      background-image: url('/koski/images/opiskelija_ikoni_stroke.svg');
    }
    .options li.option.selected {
      .header__oppijanvalitsin_mixin();
    }
  }
}

.info-text() {
  max-width: 800px;

  p {
    margin: 0 0 1rem 0;
  }

  b {
    font-weight: 600;
  }

  li {
    max-width: 600px;
    margin: 1rem 0;
    padding-left: 5px;
  }

  li:last-of-type {
    margin-bottom: 0;
  }
}

.palaa-omiin-tietoihin {
  font-weight: 400;
  font-size: 1.34rem;
  &:before {
    font-family: FontAwesome;
    content: '\f190';
    margin-right: 6px;
  }
}

.omattiedot {
  &.content-area {
    margin-top: 0;

    .main-content {
      padding: 4rem @side-padding;
    }

    header.ei-suorituksia-header {
      .header {
        &__info {
          margin-bottom: 0;
        }
      }
    }

    .ei-suorituksia {
      h2 {
        font-size: 1.3rem;
      }
      font-size: 1.1rem;
    }

    header {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media @media-phone {
        justify-content: flex-start;
        margin-top: 1.5rem;
      }

      .header {
        &__caption {
          display: flex;
          justify-content: space-between;
          flex-grow: 1;

          p {
            max-width: 600px;
            margin: 0;
          }

          @media @media-phone {
            flex-direction: column;
            flex-grow: 0;
          }
        }

        &__info {
          min-height: 100px;
          margin-bottom: 2rem;

          @media @media-phone {
            min-height: 0;
          }
        }

        &__name {
          line-height: 1.6rem;

          p {
            margin: 0;
          }
        }

        &__buttons {
          & > .toggle-button:not(:last-child) {
            margin-right: 1rem;
          }

          @media @media-phone {
            .koski-button {
              width: 100%;
              margin: 1rem 0;
            }
          }
        }

        &__bottom-row {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          @media @media-phone {
            flex-direction: column;

            .header__name {
              order: 1;
              margin-top: 1rem;
            }
          }
        }
      }
    }

    .virheraportointi {
      flex-basis: 100%;

      &[data-show='false'] {
        display: none;
      }

      .puuttuvat-tiedot {
        .info-text;
      }
    }

    .suoritusjako, .huollettavan-tiedot {
      flex-basis: 100%;

      &[data-show='false'] {
        display: none;
      }
    }
    .huollettavan-tiedot-info {
      font-weight: 300;
      padding-right: 1rem;
      margin-bottom: 2rem;
      width: 50%;
      @media @media-phone {
        width: 100%;
      }
    }
  }

  .sidebar.omattiedot-navi {
    width: ~"calc(50px + (100vw - 1200px) / 2)";
  }

  .omat-tiedot-tab-selectors {
    margin: 2rem 0;
    border-bottom: 2px solid #159ECB;
  }

  .omat-tiedot-tab-selector {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin-right: 1rem;
    font-size: 2.5rem;
    font-weight: bold;

    border: 2px solid #159ECB;
    border-bottom: none;
    background-color: white;
    color: #159ECB;

    &.active {
      background-color: #159ECB;
      color: white;
      position: relative;

      &:after {
        content: '';
        border-right: solid 20px transparent;
        border-left: solid 20px transparent;
        border-top: solid 20px #159ECB;
        transform: translateX(-50%);
        position: absolute;
        top: 100%;
        left: 50%;
        height: 0;
        width: 0;
      }
    }
  }

  .suoritusjako-link {
    margin: 2rem 0 0 0;
  }
}

.oppilaitos-list {
  margin: 2rem 0;

  .oppilaitos-container {
    margin: 0 0 48px;

    .oppilaitos-title {
      text-transform: uppercase;
      padding-bottom: 8px;
      border-bottom: 2px solid @color-link-blue;
      margin: 0 0 8px @suoritusjako-left-column-width;
    }

    .opiskeluoikeudet-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .opiskeluoikeus-row {
      display: flex;
    }

    .opiskeluoikeus-checkbox-container {
      width: @suoritusjako-left-column-width;
      padding: 24px 0;

      .koski-checkbox {
        margin: 0;
      }
    }

    .opiskeluoikeus-container {
      flex-grow: 1;
      border: 1px solid #F5F5F5;
      margin: 0 0 8px;

      .opiskeluoikeus-button {
        .DropShadow;
        background: #FFFFFF;
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        cursor: pointer;

        &--selected {
          background: @color-light-blue;
        }

        .opiskeluoikeus-button-content {
          display: flex;

          .opiskeluoikeus-title {
            padding: 24px;
            flex: 1;
            text-align: left;
            color: black;

            @media @media-phone {
              padding: 18px 10px;
            }

            h3 {
              margin: 0;
            }
          }

          .opiskeluoikeus-expand-icon {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex: 0 0 4rem;
            color: @color-white;
            background: @color-link-blue;

            .svg-icon {
              width: 1.6rem;
            }
          }
        }
      }

      .opiskeluoikeus {
        margin-top: 4px;
        background: #FFFFFF;

        .opiskeluoikeus-content {
          outline: none;
        }

        .opiskeluoikeuden-tiedot {
          .inline-link-button {
            &.open {
              margin-bottom: 8px;
            }
            &:after {
              font-family: FontAwesome;
              content: '';
              margin-left: 6px;
              font-size: 11px;
            }
            &.open:after {
              content: '';
            }
          }
        }
      }
    }
  }

  @suoritusjako-valitut-height: 160px;

  .suoritusjako-valitut-placeholder {
    // Varataan tilaa viewportista jotta kelluva (fixed) elementti ei peitä
    // alleen sisältöä.
    // TODO: ei kasva korkeutta kelluvan elementin mukana...
    height: @suoritusjako-valitut-height;
  }

  .suoritusjako-valitut-container {
    position: fixed;
    z-index: @z-index-popup;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: @suoritusjako-valitut-height;
    background-color: #e8f5fa;
    padding-left: @suoritusjako-left-column-width;
  }

  .suoritusjako-valitut-content {
    display: flex;
    justify-content: space-between;

    &.content-area {
      margin: 2rem 0 1rem;
      padding: 0 @side-padding;
    }
  }

  .suoritusjako-valitut-list {
    font-size: 1.714rem; // Sama kuin h2 globaalisti

    h2 {
      margin-top: 0;
      text-transform: uppercase;
    }

    li {
      list-style-image: url('/koski/images/graduate-hat.svg');
    }
  }
}
