@header-padding: 0 17px;

.info-text() {
  max-width: 800px;

  p {
    margin: 0 0 1rem 0;
  }

  b {
    font-weight: 600;
  }

  li {
    max-width: 600px;
    margin: 1rem 0;
    padding-left: 5px;
  }

  li:last-of-type {
    margin-bottom: 0;
  }
}

.omattiedot {
  &.content-area {
    margin-top: 0;

    header {
      padding: @header-padding;
      margin: 4rem 0 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media @media-phone {
        justify-content: flex-start;
        margin-top: 1.5rem;

        .koski-button {
          width: 100%;
          margin: 1rem 0;
        }
      }

      .header {
        &__caption {
          display: flex;
          justify-content: space-between;
          flex-grow: 1;

          p {
            max-width: 600px;
            margin: 0;
          }

          @media @media-phone {
            flex-direction: column;
            flex-grow: 0;
          }
        }

        &__info {
          min-height: 180px;
          margin-bottom: 1rem;

          @media @media-phone {
            min-height: 0;
          }
        }

        &__name {
          line-height: 1.6rem;

          p {
            margin: 0;
          }
        }

        &__buttons {
          & > .toggle-button:not(:last-child) {
            margin-right: 1rem;
          }
        }

        &__bottom-row {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          @media @media-phone {
            flex-direction: column;

            .header__name {
              order: 1;
              margin-top: 1rem;
            }
          }
        }
      }
    }

    .virheraportointi {
      flex-basis: 100%;

      &[data-show='false'] {
        display: none;
      }

      .puuttuvat-tiedot {
        .info-text;
      }
    }

    .suoritusjako {
      flex-basis: 100%;

      &[data-show='false'] {
        display: none;
      }
    }
  }

  .sidebar.omattiedot-navi {
    width: ~"calc(50px + (100vw - 1200px) / 2)";
  }
}

.oppilaitos-list {
  padding: 0 17px;
  margin: 2rem 0;

  .oppilaitos-container {
    margin: 0 0 48px;

    .oppilaitos-title {
      text-transform: uppercase;
      padding-bottom: 8px;
      border-bottom: 2px solid @color-link-blue;
      margin: 0 0 8px 0;
    }

    .opiskeluoikeudet-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .opiskeluoikeus-container {
      border: 1px solid #D5D5D5;
      margin: 0 0 8px;

      .opiskeluoikeus-button {
        background: #FFFFFF;
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

        .opiskeluoikeus-button-content {
          display: flex;

          .opiskeluoikeus-title {
            padding: 24px;
            flex: 1;
            text-align: left;

            @media @media-phone {
              padding: 18px;
            }

            h3 {
              margin: 0;
            }
          }

          .opiskeluoikeus-expand-icon {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex: 0 0 4rem;
            color: @color-white;
            background: @color-link-blue;

            .svg-icon {
              width: 1.6rem;
              height: auto;
            }
          }
        }
      }

      .opiskeluoikeus {
        margin-top: 4px;
        background: #FFFFFF;

        .opiskeluoikeuden-tiedot {
          .inline-link-button {
            &.open {
              margin-bottom: 8px;
            }
            &:after {
              font-family: FontAwesome;
              content: '';
              margin-left: 6px;
              font-size: 11px;
            }
            &.open:after {
              content: '';
            }
          }
        }
      }
    }
  }
}
