.oppija ul.oppilaitokset {
  padding: 0;
  > li.oppilaitos {
    margin-bottom: 20px;

    list-style: none;
    a.todistus, a.opintosuoritusote {
      float: right;
      margin-right: 51px;
      text-decoration: underline;
      font-size: 0.8em;
    }
    .opiskeluoikeus {
      margin-bottom: 5px;
      margin-left: 6px;

      > .suoritus {
        .kuvaus {
          color: @color-darkgray-text;
          display: inline-block;
          margin-left: 6px;
        }
        > span > .properties {
          font-size: 0.95em;
          margin-top: 8px;
        }
      }

      .suoritus {
        overflow: auto;
      }
    }
  }

  ul.properties {
    position: relative;
    > li.property {
      > label {
        display: inline-block;
        min-width: 200px;
        vertical-align: top
      }
      > .simple {
        width: ~"calc(100% - 200px)";
        display: inline-block;
        vertical-align: top
      }
    }
    list-style: none;
    padding-left: 20px;
  }

  ul.array {
    list-style: none;
    &.simple {
      display: inline-block;
      padding-left: 0;
      > li {
        display: inline-block;
      }
    }
  }

  .array > li:not(:first-child) > .object {
    margin-top: 20px;
  }

  .oppiaineensuoritus label, .opiskeluoikeusjakso label {
    display: inline-block;
    min-width: 300px;
  }
}