.oppija {
  .back-link {
    display: block;
  }
  ul.opiskeluoikeustyypit {
    display: flex;
    padding: 0;
    margin-bottom: 30px;
    .opiskeluoikeustyyppi {
      font-size: 20px;
    }
    > li:not(.add-opiskeluoikeus) {
      display: inline-block;
      list-style: none;
      padding: 16px 20px;
      border-radius: 2px;
      margin-right: 10px;
      position: relative;
      &:not(.selected) {
        background: white;
        border: 1px solid #D5D5D5;
        cursor: pointer;
        .opiskeluoikeustyyppi {
          color: @color-link-blue;
        }
      }
      &.selected {
        color: white;
        background: @color-dark-blue;
        border: 1px solid @color-dark-blue;
        &:after {
          content: "";
          .Triangle(10px, @color-dark-blue, top);
          position: absolute;
          bottom: -20px;
          left: ~"calc(50% - 10px)";
        }
      }
    }
    > li.add-opiskeluoikeus {
      display: flex;
      align-items: center;
      font-size: 14px;
      border: 1px dashed #D5D5D5;
      padding: 15px;
      > .plus, > a {
        color: @color-link-blue;
      }
    }
    ul.oppilaitokset {
      font-size: 14px;
      margin-top: 5px;
      padding: 0;
      > li {
        list-style: none;
      }
      .oppilaitos {
        font-weight: 600;
      }
    }
    ul.opiskeluoikeudet {
      padding: 0;
      .CompactList;
      .opiskeluoikeus {
        .tila {
          text-transform: lowercase;
        }
      }
    }
  }

  .add-opiskeluoikeus {
    .modal {
      left: ~"calc(50% - 315px)";
      .modal-content {
      }
    }
  }
  > .loading {
    .ajax-indicator-bg;
  }

  .inline-text {
    margin-right: 4px;
  }

  ul.opiskeluoikeuksientiedot {
    list-style: none;
    padding: 0;
    > li {
      background: #FFFFFF;
      border: 1px solid #D5D5D5;
      border-radius: 2px;
      padding: 0;
      margin-bottom: 10px;
    }
  }

  h2 {
    font-weight: 600;
    font-size: 24px;
    color: #2A2A2A;
    letter-spacing: 0;
    margin-bottom: 32px;
    margin-top: 12px;
    a.json {
      margin-left: 10px;
      background: @color-link-blue;
      color: white;
      border-radius: 2px;
      padding: 1px 8px;
      font-size: 0.8em;
      cursor: pointer;
    }
  }

  hr {
    margin: 29px 64px 40px 0;
  }

  h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
  }
}