.oppija {
  background-color: @color-darkgray;

  h2 {
    font-weight: normal;
    font-size: 20px;
  }

  hr {
    margin-top: 29px;
    margin-right: 64px;
  }

  .hetu {
    color: #918C8A;
    font-size: 16px;
  }
}