.oppija {
  background-color: @color-darkgray;

  h2 {
    font-weight: normal;
    font-size: 20px;
    .hetu {
      color: #918C8A;
    }
  }

  hr {
    margin-top: 29px;
    margin-right: 64px;
  }

  .hetu {
    font-size: 16px;
  }
}

.uusi-oppija {

  label {
    display: block;
  }

  .hetu {
    input {
      width: 125px;
    }
  }

  .etunimet, .kutsumanimi {
    display: inline-block;
  }

  .kutsumanimi {
    margin-left: 36px;
    input {
      width: 150px;
    }
  }

  .error-messages {
    .kutsumanimi {
      margin-left: 0;
    }
  }

  hr {
    margin: 40px 0 20px 0;
  }

  .oppilaitos, .tutkinto {
    width: 600px;
    .autocomplete();
  }
}