.oppijataulukko {
  margin-top: 20px;
  table {
    font-size: 0.7em;
    th { padding-bottom: 10px; }
    td, th {
      padding-right: 10px;
      span {
        display: block;
      }
      &.koulutus { width: 160px; }
      &.tutkinto { width: 160px; }
      &.pvm {  }
    }
  }
}
