.oppijataulukko {
  padding: 20px;
  background: white;
  table {
    font-size: 0.7em;
    border: 1px solid #E4E4E4;
    th {
      padding-bottom: 10px;
      background: #FAFAFA;
      border-bottom: 2px solid #E4E4E4;
    }
    tr:nth-child(even) {
      background: #FAFAFA;
    }
    td, th {
      padding: 5px;
      border-right: 1px solid #E4E4E4;
      span {
        display: block;
      }
      &.koulutus { width: 160px; }
      &.tutkinto { width: 160px; }
      &.pvm {  }
    }
  }
}
