.oppija .opiskeluoikeus .suoritukset {
  .ysiluokka-jaa-luokalle {
    .value {
      margin-left: 4px;
    }
    em {
      margin-left: 27px;
      font-style: italic;
      font-size: 0.9em;
      display: inline;
    }
  }

  .oppiaineet {
    section {
      display: inline-block;
      vertical-align: top;
      margin-right: 25px;
      &.pakolliset {
        margin-right: 25px;
        .oppiaine-taulukko {
          width: 100%;
          > table {
            width: 100%;
          }
        }
      }
      &.pakolliset,
      &.valinnaiset {
        width: 578px;
        .omattiedot-phone({
          width: 100%;
        });
      }
      margin-top: 27px;

      h5 {
        margin-top: 0;
      }

      > table {
        width: 100%;
        > thead {
          border-bottom: 1px solid @color-disabled;
        }
        > thead > tr,
        > tbody > tr,
        > th > thead > tr,
        > th > tbody > tr {
          > td,
          > th {
            padding-bottom: 7px;
          }
          > .oppiaine {
            > .toggle-expand {
              font-size: 15px;
            }
            button.nimi {
              color: black;
              padding-right: 4px;
            }
            min-width: 340px;
            .omattiedot-phone({
              min-width: 0;
            });

            .koodi-ja-nimi {
              .koodi {
                display: inline-block;
                width: 75px;
                margin-right: 10px;
              }
              .nimi {
                display: inline-block;
                width: 270px;
              }
            }

            .value.kieli,
            .value.kieli input {
              text-transform: lowercase;
            }

            .sanallinen-arviointi textarea {
              width: 300px;
              float: right;
              margin-right: 25px;
              line-height: 1.5em;
            }
          }
          .laajuus {
            text-align: center;
          }
          .arvosana {
            text-align: right;
            padding-right: 50px;
            min-width: 100px;
            select {
              width: initial;
            }
          }
          > .laajuus {
            padding-left: 10px;
            text-align: right;
            white-space: nowrap;
            .omattiedot-phone({
              white-space: initial;
            });
            .yksikko.vuosiviikkotuntia {
              font-size: 0.8em;
            }
          }
          td.oppiaine .dropdown {
            display: inline-block;
            max-width: 100px;
          }
          &.kurssit > td {
            padding-left: 20px;
            > .kurssit {
              margin-right: 60px;
              > ul {
                margin-bottom: 5px;
                vertical-align: middle;
              }
            }
          }
        }
        > tbody.oppiaine.paikallinen > tr .nimi {
          font-style: italic;
        }
        .footnotes {
          cursor: pointer;
          color: @color-link-blue;
          width: 1px;
          white-space: nowrap;
          position: relative;
          .footnotes-container {
            position: absolute;
            right: -45px;
            width: 40px;
            .omattiedot-phone({
              position: initial;
              right: initial;
              width: initial;
            });
          }
          sup {
            line-height: initial;
            top: -0.3em;
          }
        }
        .inline {
          display: inline-block;
        }
        input.number {
          width: 45px;
        }
        tbody:nth-child(2) > tr:first-child > td {
          padding-top: 20px;
        }
        td.details {
          padding-left: 20px;
        }
        td.error {
          text-align: right;
          padding-right: 24px;
          color: @color-red;
        }
      }

      .uusi-oppiaine {
        margin-top: 5px;
        border-top: 1px solid @color-disabled;
        padding-top: 10px;
        padding-right: 10px;
        display: inline-block;
        width: 335px;
        .dropdown {
          width: 100%;
          max-width: initial;
        }
      }

      .kayttaytyminen h5 {
        padding-bottom: 7px;
        border-bottom: 1px solid @color-disabled;
        margin-bottom: 16px;
        margin-top: 27px;
      }
    }

    .selitteet {
      margin-top: 10px;
      font-size: 0.9em;
    }
  }

  .suoritus.perusopetukseenvalmistavanopetuksensuoritus .oppiaineet section {
    width: 740px;
    table td.laajuus,
    th.laajuus {
      width: 225px;
      text-align: left;
      .yksikko {
        display: inline-block;
        width: 160px;
        margin-left: 3px;
      }
    }
  }

  .omattiedot-perusopetuksen-suoritukset {
    > .arvostelu,
    > .kayttaytymisen-arvio,
    > .suoritus-group {
      margin-bottom: 3rem;

      > h4 {
        font-size: 1.2857rem;
        border-bottom: 1px solid @color-neutral-gray;
        padding-bottom: 2px;
        margin-bottom: 0.6rem;
      }

      .properties.kansalainen > table {
        border-spacing: 0;
      }
    }

    > .suoritus-group > table.suoritus-table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 5px;
      table-layout: fixed;

      > thead > tr > th.oppiaine,
      > tbody > tr > td.oppiaine {
        width: 100%;
      }

      > thead > tr > th.arvosana,
      > tbody > tr > td.arvosana {
        text-align: center;
        width: 8rem;
      }

      > tbody {
        > tr.perusopetus-valmistava-oppiane-tyyppi {
          font-weight: bold;
        }
        > tr.oppiaine-row {
          > td {
            font-weight: 600;
            background: @color-light-blue;
            padding: 8px;

            &.oppiaine {
              padding-left: 1.6rem;
              display: flex;

              &.paikallinen,
              &.paikallinen > button {
                font-style: italic;
              }

              > button {
                font-weight: 600;
              }

              > .expand-icon {
                flex: 0 0 1.6rem;
                margin-left: -1.6rem;
                text-align: center;
              }
            }
          }

          &.expandable,
          &.expandable > td > button {
            cursor: pointer;
          }

          &.expanded > td {
            background: @color-medium-blue;
          }
        }

        > tr.kurssit-row,
        > tr.properties-row {
          > td {
            padding: 8px 1.6rem;
          }
        }

        > tr.kurssit-row-mobile > td > table.kurssilista-mobile {
          > thead > tr > th.nimi,
          > tbody > tr > td.nimi {
            padding-left: 1.6rem;
          }

          > tbody > tr > td > div.properties {
            padding-left: calc(1.6rem - 8px);
          }
        }
      }
    }
  }
}

.oppija .opiskeluoikeus .editing {
  .suoritukset {
    .perusteenDiaarinumero {
      input {
        width: 200px;
      }
    }
    .dropdown .select {
      height: 35px;
      line-height: 35px;
    }
    .oppiaineet {
      .kayttaytyminen .arvosana .dropdown {
        width: 65px;
      }

      .oppiaine,
      .details {
        .kieli .dropdown {
          margin-right: 15px;
        }
        .arvosana {
          > .value {
            display: inline-block;
          }
          .dropdown {
            margin-right: 0;
          }
        }
      }
      .details {
        .dropdown {
          max-width: 200px;
        }
      }
      .oppiaine .oppiaine {
        .value.kieli > .dropdown-wrapper {
        }
        .dropdown {
          width: 250px;
          max-width: initial;
        }
      }
      td {
        line-height: 32px;
      }
    }

    .tukimuodot {
      ul.array > li {
        margin-bottom: 10px;
      }

      .dropdown {
        max-width: initial;
        width: 247px;
      }
    }

    .luokka input {
      width: 50px;
    }

    .kayttaytyminen {
      .arviointi {
        width: 95%;
        display: inline-block;
      }
    }
  }
}
