@popup-margin-vertical: 1rem;

.popup {
  position: absolute;
  left: 0;
  width: 100%;
  margin: @popup-margin-vertical 0;
  background-color: @color-white;
  z-index: @z-index-popup;

  &--inline {
    position: relative;
  }

  &__content {
    padding: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
  }

  &__close-button {
    .CloseSymbol;
    position: absolute;
    top: 14px;
    right: 18px;
  }
}
