@import 'colors.less';

body {
  font-family: 'Open Sans', sans-serif;
  @media (max-width: 1200px) {
    font-size: 13px;
  }
}

h1 {
  font-size: 32px;
  font-weight: 900;
  line-height: 84px;
  color: #333333;
  margin: 0 20px 0 20px;
  img {
    width: 72px;
    margin: 10px 0px 0 10px;
  }
  img,
  span {
    float: left;
  }

  img.logo {
    float: right;
    width: 228px;
    @media (max-width: 600px) {
      display: none;
    }
  }
}

.statistics-wrapper {
  display: flex;
  flex-flow: row wrap;
}

ul {
  list-style: none;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 33%;
  min-width: 350px;
}

section {
  display: flex;
  flex-flow: column nowrap;
  color: white;
  h3 {
    font-size: 22px;
    font-weight: bolder;
    margin: 0;
  }
  h4 {
    font-size: 16px;
    font-weight: bolder;
    margin: 0;
  }
  border-bottom: 1px solid white;
}

.primary-metric {
  min-height: 175px;
  @media (max-width: 1200px) {
    & {
      min-height: 140px;
    }
  }
  border-bottom: 1px solid white;
}

.primary-metric,
.metric,
.metric-details {
  padding: 15px 20px 20px 20px;
  h3 {
    margin: 0 0 12px 0;
  }
  text-align: center;
}

.metric-large {
  font-size: 100px;
  font-weight: 900;
  @media (max-width: 1200px) {
    & {
      font-size: 70px;
    }
  }
}

.metric-medium {
  font-size: 70px;
  font-weight: 900;
}

.metric-tiny {
  font-size: 12px;
}

.metric-details {
  text-align: left;
  min-height: 270px;
  li {
    margin-bottom: 5px;
    @media (max-width: 1200px) {
      margin-bottom: 3px;
    }
  }
  @media (max-width: 600px) {
    min-height: fit-content;
  }
}

.progress-bar {
  width: 100%;
  background: #4b4b4b;
  height: 5px;
  margin: 5px 0 5px 0;
  div {
    height: 100%;
    background: white;
  }
}

.metric-value {
  float: right;
}

.opiskeluoikeudet-panel {
  background: @color-link-blue;
  border-right: 1px solid white;
}

.saavutettavuus {
  flex-grow: 1;
  background: #033d50;
  border-right: 1px solid white;
  h3 {
    margin-top: 42px;
    @media (max-width: 600px) {
      margin-top: 20px;
    }
  }
  .metric-medium {
    margin: 26px 0 40px 0;
  }
  .description {
    font-size: 13px;
  }
}

.operaatiot {
  flex-grow: 1;
  background: #0e4d62;
  border-right: 1px solid white;
}

.operaatiot-details {
  text-align: left;
  li {
    margin-bottom: 5px;
    @media (max-width: 1200px) {
      margin-bottom: 3px;
    }
  }
  @media (max-width: 600px) {
    min-height: fit-content;
  }
}

.valmiit-tutkinnot-panel {
  background: #585858;
  flex-grow: 1;
  li {
    margin-bottom: 10px;
    @media (max-width: 1200px) {
      margin-bottom: 5px;
    }
  }
}
