.radio-option-container {
  display: block;
  position: relative;
  padding: 6px 0px 6px 32px;
  cursor: pointer;

  input.radio-option {
    // Hide default radio button
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  .radio-checkmark {
    position: absolute;
    top: 6px;
    left: 4px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: white;
    border: 1px solid #cacaca;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
  }

  input.radio-option:hover ~ .radio-checkmark {
    border: 5px solid @color-medium-blue;
  }

  input.radio-option:checked ~ .radio-checkmark {
    border: 5px solid @color-link-blue;
  }
}
