.raportit {
  padding: 0 32px;

  h2 {
    margin-top: 42px;
  }

  .raportti-valitsin {
    margin-bottom: 16px;
  }

  .organisaatio-valitsin {
    max-width: 450px;
    margin-bottom: 16px;
  }

  .lyhyt-kuvaus {
    max-width: 550px;
    color: #666666;
  }

  .parametri {
    margin-bottom: 20px;
    // max-width: 550px;

    & > label {
      display: block;
      margin-bottom: 12px;
    }

    .calendar-input {
      display: inline-block;
      vertical-align: top;
    }

    .ohje {
      display: inline-block;
      vertical-align: top;
      margin-left: 16px;
      max-width: 300px;
      font-size: 90%;
      color: #666666;
    }

    &.vuosiluokka {
      .dropdown {
        max-width: 100px;
      }
    }

    .parametrit-kentat {
      display: inline-block;
    }

    .parametri-aikajakso-viiva {
      display: inline-block;
      vertical-align: bottom;
      padding: 0 10px 10px;
    }
  }

  .password {
    color: #666666;
    margin-bottom: 20px;
  }

  .vinkit {
    color: #666666;
    max-width: 550px;
    margin-top: 30px;

    h3 {
      vertical-align: center;

      svg {
        width: 20px;
        height: 20px;
        vertical-align: bottom;
        margin-right: 5px;
      }
    }
  }
}
