.raportit {
  label {
    display: block;
  }

  .aloituspaiva > label {
    margin-bottom: 5px;
  }

  .oppilaitos {
    width: 500px;
    .organisaatio-selection {
      line-height: 35px;
    }
  }

  .password, button {
    margin-top: 20px;
  }
}
