.raportit {
  label {
    display: block;
  }

  .raportit-organisaatio {
    width: 500px;
    .organisaatio {
      margin-top: 5px;
      margin-bottom: 18px;
      .organisaatio-selection {
        line-height: 35px;
      }
    }
  }

  p {
    max-width: 500px;
  }

  .parametri > label {
    padding: 0.7em 0 0 0;
    margin-bottom: 10px;
  }

  .dropdown-selection {
    height: 35px;
    width: 174px;
    padding: 0 0 0.7em;
    margin-bottom: 64px;

    .select {
      height: 35px;
    }
  }

  .radio-option-container {
    margin: 0.7em 0;
    .radio-option {
      margin-right: 0.7em;
    }
  }

  .password, button {
    margin-top: 20px;
  }

  .raportti-download-button {
    margin-bottom: 20px;

    > .axaj-indicator-bg {
      margin-top: 20px;
    }
  }
}
