.suoritusjako-link {
  .SuoritusjakoIconBackground() {
    border-radius: 50%;
    display: inline-block;
    text-align: center;
  }

  .SuoritusjakoIcon() {
    font-family: FontAwesome;
    vertical-align: middle;
    color: @color-white
  }

  padding: 1rem;
  background-color: @color-blue-background;

  h3 {
    font-size: 0.85rem;
  }

  &__top-container {
    display: flex;
    flex-direction: column;

    @media @media-full {
      flex-direction: row;
      align-items: center;
    }
  }

  &__link-container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin-bottom: 2rem;
  }

  &__bottom-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    line-height: 1;

    @media @media-full {
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  &__timestamp {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__url {
    flex-grow: 2;

    @media @media-full {
      margin-right: 2rem;
    }

    & > input {
      font-size: 1rem;
      line-height: 1rem;
      color: @color-black;
    }

    & > button {
      padding: 0 5px;
    }
  }

  &__preview {
    margin-right: 1rem;

    @media @media-full {
      margin-right: 0;
      flex-basis: 70%;
    }
  }

  &__expiration {
    @media @media-full {
      flex-basis: 30%;
      max-width: 30%;
    }

    & > label > span {
      margin-bottom: 0.5rem;
      font-weight: 600;
      display: block;
      font-size: 1rem;
    }

    & input {
      max-width: 75%;
    }

    .date-input-feedback {
      height: 2rem;

      .FeedBackIcon() {
        .SuoritusjakoIcon();
        font-size: 0.7rem;
      }

      .FeedBackIconContainer() {
        .SuoritusjakoIconBackground();
        height: 1.6rem;
        width: 1.6rem;
        margin: 0.4rem 0.4rem 0 0;
      }

      .save-confirmation {
        .FeedBackIconContainer();
        background: @color-blue;

        &:before {
          .FeedBackIcon();
          content: '\f00c';
        }
      }

      .invalid-date-input {
        .FeedBackIconContainer();
        background: @color-red;

        &:before {
          .FeedBackIcon();
          content: '\f12a';
        }
      }
    }
  }

  &__remove {
    @media @media-full {
      flex-basis: 30%;
    }
  }

  &--placeholder {
    .ajax-indicator-center-image;
    background-color: @color-blue-background;
    border: solid 2px @color-blue;
    height: 124px;

    &.transition-enter {
      animation-name: fadein-to-full;
      animation-duration: 1s;
    }
  }
}
