
.suoritusjako {
  &.content-area {
    margin-top: 48px;
    header {
      padding: @header-padding;
      margin: 0 0 2rem 0;

      h2 {
        margin-bottom: 1rem;
      }

      .header__name {
        font-weight: 600;
        line-height: 1.6rem;

        p {
          margin: 0;
        }

        .syntynyt {
          font-weight: 400;
        }
      }
    }
  }
}

.suoritusjako-virhe {
  padding: 6px
}
