.suoritusjako
  .oppija
  .opiskeluoikeus
  .omattiedot-suoritus-taulukko
  .suoritus-group {
  > table > tbody > tr > .koesuoritus {
    display: none;
  }
}

.oppija .opiskeluoikeus {
  .suoritus-taulukko {
    > table {
      width: 100%;
      tbody.tutkinnon-osa {
        & + tbody.tutkinnon-osa {
          border-top: 1px solid #eee;
        }
        .suoritus-taulukko {
          > table {
            width: initial;
            .expand-all {
              display: none;
            }
          }
        }
      }
      tbody.vst-osasuoritus {
        & + tbody.vst-osasuoritus {
          border-top: 1px solid #eee;
        }
        .suoritus-taulukko {
          > table {
            width: initial;
            .expand-all {
              display: none;
            }
          }
        }
      }
      tbody.tuva-osasuoritus {
        & + tbody.tuva-osasuoritus {
          border-top: 1px solid #eee;
        }
        .suoritus-taulukko {
          > table {
            width: initial;
            .expand-all {
              display: none;
            }
          }
        }
      }
      > tbody.group-header,
      tbody.taulukko-headers {
        background: @color-neutral-gray;
        th {
          padding-left: 13px;
          .omattiedot-phone({
            padding-left: 0;
          });
          font-style: italic;
          &:not(:last-child) {
            border-right: 3px solid white;
          }
        }
      }

      div.lisaa-uusi-suoritus {
        margin-bottom: 8px;

        a.add-link {
          .AddSymbol;
          margin-right: 20px;
        }
      }

      > tbody > tr,
      > thead > tr {
        > td,
        > th {
          padding: 5px 13px 5px 0;
          .omattiedot-phone({
            padding: 3px 5px 3px 0;
            &:last-child {
              padding-right: 2px;
            }
          });
        }
        > td.suoritus {
          display: flex;
          align-items: center;
          padding-left: 13px;
          .omattiedot-phone({
            padding-left: 0;
          });
          .tila {
            .FontAwesomeSymbol;
            color: #333333;
            cursor: pointer;
          }
        }
        .omattiedot-phone({
          > td.laajuus, > td.arvosana {
            font-size: 12px;
          }
        });
        > td.laajuus,
        > td.arvosana {
          text-align: right;
          vertical-align: middle;
        }

        > td.suoritus {
          vertical-align: middle;
        }
        > td.remove {
          width: 0px;
          padding: 0;
          position: relative;
          a.remove-value {
            position: absolute;
            top: ~'calc(50% - 9px)';
            left: -11px;
          }
        }
        &.error {
          td.error {
            text-align: right;
            color: @color-red;
          }
        }
      }

      tr.details,
      tr.osasuoritukset {
        background: white;
        > td {
          padding-left: 45px;
          padding-right: 35px;
          .omattiedot-phone({
            padding-left: 0;
            padding-right: 0;
          });

          .properties > table tr td {
            padding-top: 2px; // override for more compact layout
          }
        }
        &:last-child {
          > td {
            padding-bottom: 24px;
          }
        }
      }

      .tyossaoppimisjakso {
        > .properties {
          padding-left: 12px;
        }
      }

      .uusi-tutkinnon-osa {
        td {
          padding-left: 50px;
          padding-bottom: 20px;
          .autocomplete {
            width: 691px;
          }
        }
      }
    }
    .suoritus-taulukko {
      // Nested table
      margin-top: 12px;
    }
    .expand-all {
      margin: 8px 0;
      height: 30px;
      line-height: 30px;
      padding: 0 13px;
      &:before {
        display: inline-block;
        content: '';
        font-family: FontAwesome;
        font-size: 12px;
        margin-right: 8px;
      }
      &.expanded:before {
        content: '';
      }
      .omattiedot-phone({
        display: none;
      });
    }
  }

  .omattiedot-suoritus-taulukko {
    .suoritus-group {
      margin-bottom: 1rem;

      > table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 8px;

        &.nested {
          td.suoritus {
            margin-left: -1.6rem;
          }

          @media @media-phone {
            td.suoritus {
              margin-left: 0;
            }

            > tbody > tr.details > td > .properties {
              padding-left: 1.6rem;
            }
          }
        }

        > tbody,
        > thead {
          > tr {
            > td {
              padding: 4px;
              min-width: 8rem;

              @media @media-phone {
                min-width: 6rem;

                &.koepisteet.ylioppilas {
                  min-width: 3rem;
                }

                &.laajuus {
                  min-width: 3rem;
                }
              }
            }

            > td.arvosana.ylioppilas {
              min-width: 14rem;

              @media @media-phone {
                min-width: 6rem;
              }
            }

            > td.koesuoritus {
              min-width: 10rem;
              a {
                font-weight: lighter;
                .external-link(10px, 1px);
              }

              @media @media-phone {
                min-width: 2rem;
                a {
                  .show-koesuoritus-text {
                    display: none;
                  }
                  .external-link(1px, 1px);
                }
              }
            }

            > td.arvosana,
            > th.arvosana,
            > td.laajuus,
            > th.laajuus,
            > td.koepisteet,
            > th.koepisteet {
              text-align: center;
            }

            > th.suoritus,
            > td.suoritus {
              width: 100%;
              text-align: left;
            }

            > td.suoritus {
              display: flex;
              font-weight: 600;

              button {
                font-weight: 600;
              }

              span > .kesken {
                text-transform: lowercase;
                font-weight: normal;
              }
            }

            > td.arvosana {
              font-weight: 600;
            }

            &.nested-header {
              > th {
                border-bottom: 1px solid #eeeeee;
                padding-bottom: 0.5rem;

                @media @media-phone {
                  &:first-child {
                    padding-left: 1.6rem;
                  }
                }
              }
            }

            &.expandable-row {
              cursor: pointer;

              button {
                cursor: pointer;
              }
            }

            .expanded-indicator {
              text-align: center;
              flex: 0 0 1.6rem;
              margin-left: -4px;
            }

            &.suoritus-row {
              .expanded-indicator {
                color: @color-link-blue;
              }

              &--expanded,
              &--expanded button {
                color: @color-black;
                font-weight: 600;
              }
            }

            &.paatason-suoritus-row {
              background: @color-light-blue;

              &--expanded {
                background: @color-medium-blue;
              }
            }
          }
        }

        tr.details,
        tr.osasuoritukset {
          > td {
            padding-left: 1.6rem;

            @media @media-phone {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}
