.content-area.tiedonsiirrot {
  display: flex;

  .sidebar {
    flex-grow: 1;
    max-width: @sidebar-width;
    padding-top: 35px;
    vertical-align: top;
  }

  .main-content {
    flex-grow: 1;
    flex-basis: 80%;
    max-width: @max-content-width - @sidebar-width;
    padding-left: 60px;
    padding-right: 20px;
    vertical-align: top;
    background-color: @color-neutral-gray;
  }

  .ajax-loading-placeholder {
    .ajax-indicator-bg;
  }
}

.tiedonsiirrot-navi {
  .leftnavi;
  .navi-items;
  .navi-link-container {
    .navi-item;
    display: block;
    &.selected {
      .navi-item-selected;
    }
  }
}

.tiedonsiirrot-content {
  position: relative;
  button.update-content {
    float: right;
    margin-bottom: 10px;
  }
  button.remove-selected {
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  a {
    font-size: 1em;
  }
  table {
    .data-table;
    margin-top: 20px;
    font-size: 0.8em;
    width: 100%;
    .hetu {
      padding-right: 10px;
    }
    .tiedot {
      padding-right: 5px;
    }
    .tiedonsiirto-errors {
      list-style: none;
      padding: 0;
      margin-top: 0;
      margin-bottom: 5px;
    }
    td {
      position: relative;

      ul.cell-listing {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
    .group {
      .expand,
      .collapse {
        margin-left: 5px;
        color: @color-label;
        border: 1px solid @color-label;
        display: inline-block;
        width: 14px;
        height: 14px;
        line-height: 11px;
        margin-top: 3px;
      }
      .expand {
        padding-left: 2px;
      }
      .collapse {
        padding-left: 4px;
        line-height: 10px;
      }
      .status {
        margin-left: 0;
        float: right;
        margin-right: 15px;
      }
    }
    .virhe {
      max-width: 500px;
    }
    .status {
      margin-left: 5px;
      &.fail {
        color: red;
      }
      &.ok {
        color: green;
      }
    }
  }
  .lokirividata-popup {
    font-size: 0.85em;
    position: absolute;
    z-index: @z-index-base + 2;
    top: 8px;
    right: 8px;
    padding: 20px;
    background: white;
    width: 60em;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);

    a.close {
      display: block;
      text-align: right;
      margin-bottom: 10px;
    }

    pre {
      white-space: pre-wrap;
    }
  }
}
