@import "mixins";

#topbar {
  background: @color-white;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10);

  #logo {
    @logo-color: #84BF41;
    display: inline-block;
    background: @logo-color;
    border-radius: 1px;
    height: 50px;
    width: 206px;
    margin-top: 36px;
    text-align: center;

    font-size: 22px;
    font-weight: 600;
    color: @color-white;
    line-height: 49px;
    &:after {
      content: "";
      .Triangle(25px, @logo-color, left);
      margin-left: 212px;
      margin-top: -49px;
    }
  }

  h1 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    color: #1A1919;
    line-height: 27px;
    margin-left: 67px;
    font-weight: normal;
  }

  .user-info {
    float: right;
    margin-top: 39px;

    a {
      width: auto;
      padding: 0 30px;
      margin-left: 16px;
      margin-top: 0;
    }
  }
}