.rakenne-moduuli {
  ul {
    list-style: none;
    padding-left: 24px;
  }

  .name {
    line-height: 40px;
    display: inline-block;
  }

  .tutkinnon-osa {
    color: @color-darkgray-text;

    .name {
      padding-left: 14px;
    }

    &:hover {
      background-color: white;
      cursor: pointer;
    }

    &.selected {
      background-color: white;
      color: black;

      button {
        display: inline-block;
        width: auto;
        padding: 0 10px;
        margin: 0;
      }
    }

    button {
      display: none;
    }

    .save {
      float: right;
      padding-left: 5px;
      background-color: @color-darkgray;
    }
  }
}
