.rakenne-moduuli {
  ul {
    list-style: none;
    padding-left: 24px;
  }

  .name {
    line-height: 39px;
  }

  .tutkinnon-osa {
    .name {
      padding-left: 14px;
    }
    color: @color-darkgray-text;
  }
}
