.lisaa-suoritus-modal {
  .european-school-of-helsinki-aloituspaiva {
    display: flex;
    flex-direction: column;
  }
}

.uusi-oppija {
  label {
    display: block;
  }

  .henkilo {
    .ajax-loading-placeholder {
      .ajax-indicator-bg;
    }

    .hetu {
      margin-bottom: 20px;
      .value {
        margin-left: 1em;
      }
    }

    .etunimet,
    .kutsumanimi {
      display: inline-block;
      vertical-align: top;
    }

    .kutsumanimi {
      margin-left: 36px;
      div {
        width: 150px;
      }
    }

    .etunimet input {
      width: 215px;
    }

    .sukunimi input {
      width: 400px;
    }
  }

  hr {
    margin: 40px 0 20px 0;
  }

  .Select,
  .DateEdit,
  label {
    width: 500px;
  }

  .oppilaitos {
    width: 500px;
    .organisaatio-selection {
      line-height: 35px;
    }
  }

  .opiskeluoikeudentyyppi,
  .opiskeluoikeudentila,
  .opintojenrahoitus,
  .oppimaara,
  .oppiaine,
  .kieli,
  .oppimäärä,
  .opintokokonaisuus,
  .opetussuunnitelma,
  .peruste,
  .loading-placeholder,
  .suorituskieli,
  .suoritustapa,
  .international-school-grade,
  .varhaiskasvatus-jarjestamismuoto,
  .järjestämislupa,
  .european-school-of-helsinki-luokkaaste,
  .european-school-of-helsinki-curriculum,
  .tpo-oppimäärä,
  .tpo-toteutustapa,
  .jotpaasianumero,
  .tpo-taiteenala {
    width: 500px;
    display: block;
  }

  .koulutusmoduuli {
    width: 500px;

    input {
      width: 500px;
    }

    textarea {
      width: 500px;
      display: block;

      margin-top: 5px;
      margin-bottom: 18px;
    }
  }

  .ajax-loading-placeholder {
    .ajax-indicator-left;
    height: 40px;
  }

  .dropdown .select {
    height: 35px;
    line-height: 35px;
  }

  .tutkinto {
    width: 500px;
    .autocomplete();
  }

  button {
    margin-top: 10px;
  }

  #tpo-peruste-input {
    height: 35px;
    line-height: 35px;
    width: 500px;
  }
}
