name: Deploy Koski
on:
  workflow_call:
    inputs:
      commithash:
        description: "Commit hash (version) of the image to deploy"
        type: string
        required: true
      environment:
        description: "Target environment (dev/qa/prod)"
        type: string
        required: true
env:
  DOCKER_BUILDKIT: 1
  SSH_AUTH_SOCK: /tmp/ssh_agent.sock

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-22.04
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read
      packages: write
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.DEPLOY_ROLE }}
          role-duration-seconds: 3600
          role-session-name: KoskiDeployment-${{ inputs.environment }}-${{ inputs.commithash }}
          aws-region: eu-west-1

      - name: Login to Amazon ECR
        id: login-deployment
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registries: ${{ secrets.ECR_ACCOUNT_ID }}
          mask-password: "true"

      - name: Get task definition ARN
        id: get-taskdef-arn
        run: |
          echo "taskdef-arn=$(aws ssm get-parameter --name /koski/task-definition-skeleton --output text --query 'Parameter.Value')" >> $GITHUB_OUTPUT

      - name: Get task definition skeleton
        run: |
          aws ecs describe-task-definition --task-definition ${{ steps.get-taskdef-arn.outputs.taskdef-arn }} --query 'taskDefinition' > task-definition.json

      - name: Render Amazon ECS task definition
        id: task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: task-definition.json
          container-name: KoskiContainer
          image: ${{ steps.login-deployment.outputs.registry }}/koski:${{ inputs.commithash }}

      - name: Deploy using ECS
        id: ecs-deploy
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with:
          task-definition: ${{ steps.task-def.outputs.task-definition }}
          service: koski-v2
          cluster: koski-cluster
          wait-for-service-stability: true

      - name: Verify ECS deployment
        id: verify-ecs-deployment
        run: |
          CURRENT_TASK_DEF_ARN=$(aws ecs describe-services --cluster koski-cluster --services koski-v2 --query services[0].deployments[0].taskDefinition | jq -r ".")
          NEW_TASK_DEF_ARN=${{ steps.ecs-deploy.outputs.task-definition-arn }}
          echo "Current task arn: $CURRENT_TASK_DEF_ARN"
          echo "New task arn: $NEW_TASK_DEF_ARN"
          if [ "$CURRENT_TASK_DEF_ARN" != "$NEW_TASK_DEF_ARN" ]; then
            echo "Deployment failed."
            exit 1
          fi

      - name: Get raportointikanta-loader loader task definition ARN
        id: get-raportointikanta-loader-taskdef-arn
        run: |
          echo "taskdef-arn=$(aws ssm get-parameter --name /koski/raportointikanta-loader/task-definition-skeleton --output text --query 'Parameter.Value')" >> $GITHUB_OUTPUT

      - name: Get task definition skeleton
        run: |
          aws ecs describe-task-definition --task-definition ${{ steps.get-raportointikanta-loader-taskdef-arn.outputs.taskdef-arn }} --query 'taskDefinition' > raportointikanta-loader-task-definition.json

      - name: Render Amazon ECS task definition
        id: raportointikanta-loader-task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: raportointikanta-loader-task-definition.json
          container-name: RaportointikantaLoaderContainer
          image: ${{ steps.login-deployment.outputs.registry }}/koski:${{ inputs.commithash }}

      - name: Deploy Amazon ECS task definition
        id: raportointikanta-loader-taskdef-deploy
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with:
          task-definition: ${{ steps.raportointikanta-loader-task-def.outputs.task-definition }}
          cluster: koski-cluster

      - name: Write task definition ARN to parameter store
        env:
          TASKDEF_ARN: ${{ steps.raportointikanta-loader-taskdef-deploy.outputs.task-definition-arn }}
        run: aws ssm put-parameter --overwrite --name /koski/raportointikanta-loader/task-definition --type String --value ${TASKDEF_ARN}

      - name: Get ytr-data-loader loader task definition ARN
        id: get-ytr-data-loader-taskdef-arn
        run: |
          echo "taskdef-arn=$(aws ssm get-parameter --name /koski/ytr-data-loader/task-definition-skeleton --output text --query 'Parameter.Value')" >> $GITHUB_OUTPUT

      - name: Get task definition skeleton
        run: |
          aws ecs describe-task-definition --task-definition ${{ steps.get-ytr-data-loader-taskdef-arn.outputs.taskdef-arn }} --query 'taskDefinition' > ytr-data-loader-task-definition.json

      - name: Render Amazon ECS task definition
        id: ytr-data-loader-task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: ytr-data-loader-task-definition.json
          container-name: YtrDataLoaderContainer
          image: ${{ steps.login-deployment.outputs.registry }}/koski:${{ inputs.commithash }}

      - name: Deploy Amazon ECS task definition
        id: ytr-data-loader-taskdef-deploy
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with:
          task-definition: ${{ steps.ytr-data-loader-task-def.outputs.task-definition }}
          cluster: koski-cluster

      - name: Write task definition ARN to parameter store
        env:
          TASKDEF_ARN: ${{ steps.ytr-data-loader-taskdef-deploy.outputs.task-definition-arn }}
        run: aws ssm put-parameter --overwrite --name /koski/ytr-data-loader/task-definition --type String --value ${TASKDEF_ARN}

      - name: Report task ready
        uses: ravsamhq/notify-slack-action@95a35215cdf7ab510d2cdd20ae94f342d212a1a1
        if: always()
        with:
          status: ${{ job.status }}
          notification_title: ${{ inputs.environment }} install {status_message}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

      - name: Tag deployed image
        env:
          ECR_REGISTRY: ${{ steps.login-deployment.outputs.registry }}
          ECR_REPOSITORY: koski
          IMAGE_TAG: ${{ inputs.commithash }}
          DEPLOY_TAG: deploy-${{ inputs.environment }}
        run: |
          echo "Tagging image $ECR_REPOSITORY:$IMAGE_TAG as $DEPLOY_TAG"
          docker pull $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker tag $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:$DEPLOY_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$DEPLOY_TAG
