name: Run smoketests
on:
  schedule:
    - cron: "30 5-12 * * MON-FRI"
  workflow_dispatch:

jobs:
  smoketests:
    name:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "22.14.0"

      - uses: ./.github/actions/setup_pnpm_cache

      - name: Install dependencies
        uses: nick-fields/retry@v3
        with:
          max_attempts: 5
          timeout_minutes: 5
          retry_wait_seconds: 120
          command: |
            cd smoketests
            pnpm install --frozen-lockfile

      - name: Install Puppeteer browser
        run: |
          cd smoketests
          pnpm exec puppeteer browsers install chrome

      - name: Test kansalaisen n채kym채 testiopintopolussa
        run: cd smoketests && pnpm run qa:kansalainen

      - name: Report failure
        uses: ravsamhq/notify-slack-action@95a35215cdf7ab510d2cdd20ae94f342d212a1a1
        if: ${{ failure() }}
        with:
          status: ${{ job.status }}
          notification_title: "Run smoketests: failure in kansalaisen n채kym채 testiopintopolussa"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
