name: Tag deployed Koski image

on:
  workflow_call:
    inputs:
      commithash:
        description: "Commit hash (version) of the image to tag"
        required: true
        type: string
      environment:
        description: "Deployment environment (dev, qa, prod)"
        required: true
        type: string

jobs:
  tag_image:
    name: Tag and push Koski image
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: read
      packages: write
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ECR_ROLE }}
          role-duration-seconds: 3600
          role-session-name: KoskiPublishEcr-${{ inputs.environment }}-${{ inputs.commithash }}
          aws-region: eu-west-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registries: ${{ secrets.ECR_ACCOUNT_ID }}
          mask-password: "true"

      - name: Tag and push deploy image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: koski
          IMAGE_TAG: ${{ inputs.commithash }}
          DEPLOY_TAG: deploy-${{ inputs.environment }}
        run: |
          echo "Tagging image $ECR_REPOSITORY:$IMAGE_TAG as $DEPLOY_TAG"
          docker pull $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker tag $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:$DEPLOY_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$DEPLOY_TAG
