{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "__webpack_nonce__": true // Koski CSP
  },
  "rules": {
    "no-undef": "warn",
    "no-var": "off", // TODO: Poista sääntö
    "no-unreachable": "error",
    "no-console": "off", // TODO: Vaihda --> "warn"
    "no-warning-comments": "off", // TODO: Vaihda --> "warn"
    "no-unused-vars": "off",
    "react/jsx-no-undef": "warn",
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "warn",
    "react/jsx-no-literals": "warn",
    "react/no-unknown-property": "warn",
    "react/react-in-jsx-scope": "warn",
    "react/self-closing-comp": [
      "warn",
      {
        "component": true,
        "html": false
      }
    ],
    "react/jsx-wrap-multilines": "warn",
    "react/prop-types": "off",
    "react/display-name": "off", // default exportit komponenteissa
    "react/jsx-key": "off", // Bacon.js React VDOM, TODO: Vaihda --> "warn"
    "react/no-string-refs": "off", // TODO: Vaihda --> "warn"
    "prettier/prettier": ["warn"],
    "array-callback-return": "off", // Bacon.js flatmap
    "react/no-render-return-value": "off", // Bacon.js React VDOM
    "prefer-regex-literals": "off", // Heitetään varoitus, TODO: Vaihda --> "warn"
    "eqeqeq": "warn",
    "no-shadow": "off",
    "prefer-spread": "warn", // TODO: Poista sääntö
    "@typescript-eslint/no-shadow": "warn",
    "@typescript-eslint/no-explicit-any": "off", // TODO: Poista sääntö
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/ban-ts-comment": "off", // TODO: Poista sääntö
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unnecessary-type-constraint": "warn", // TODO: Poista sääntö
    "@typescript-eslint/ban-types": "off" // TODO: Poista sääntö,
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "no-undef": "off" // Tätä ei tarvita ts-filuille, koska Typescript pitää näistä huolen paremmin
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["react", "prettier", "mocha", "@typescript-eslint"]
}
