{
  "root": true,
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "__webpack_nonce__": true // Koski CSP
  },
  "rules": {
    "no-undef": "error",
    "no-unreachable": "error",
    "no-console": "off", // TODO: Vaihda --> "warn"
    "no-warning-comments": "off", // TODO: Vaihda --> "warn"
    "no-unused-vars": [
      "warn",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ],
    "react/jsx-no-undef": "warn",
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "warn",
    "react/jsx-no-literals": "warn",
    "no-shadow": "error",
    "react/no-unknown-property": "warn",
    "react/react-in-jsx-scope": "warn",
    "react/self-closing-comp": [
      "warn",
      {
        "component": true,
        "html": false
      }
    ],
    "react/jsx-wrap-multilines": "warn",
    "react/prop-types": "off",
    "react/display-name": "off", // default exportit komponenteissa
    "react/jsx-key": "off",  // Bacon.js React VDOM, TODO: Vaihda --> "warn"
    "react/no-string-refs": "off", // TODO: Vaihda --> "warn"
    "prettier/prettier": ["error"],
    "array-callback-return": "off", // Bacon.js flatmap
    "react/no-render-return-value": "off", // Bacon.js React VDOM
    "prefer-regex-literals": "off", // Heitetään varoitus, TODO: Vaihda --> "warn"
    "eqeqeq": "off" // Suosi triple-equalsin käyttöä, TODO: Vaihda --> "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "standard",
    "prettier"
  ],
  "plugins": ["react", "prettier", "mocha"]
}
